Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

test(cache): Add test case for 157433-z
  tests/cache/test-vary-cache.php
Due: phplint, vendor/bin/phpcs

fix(cache): Fix "Undefined array key" in `Vary_Cache::parse_group_cookie`
  cache/class-vary-cache.php
Due: phplint, vendor/bin/phpcs

fix(cache): Fix "Undefined array key" in `Vary_Cache::parse_group_cookie()` (#3829)
  cache/class-vary-cache.php
  tests/cache/test-vary-cache.php
Due: phplint, vendor/bin/phpcs

Supress codebase manager
  codebase-manager/codebase-manager.php
Due: phplint, vendor/bin/phpcs

Redo the fix
  codebase-manager/codebase-manager.php
  codebase-manager/plugins/plugins-manager.php
Due: phplint, vendor/bin/phpcs

lint
  codebase-manager/codebase-manager.php
Due: phplint, vendor/bin/phpcs

Suppress codebase manager (#3818)
  codebase-manager/codebase-manager.php
  codebase-manager/plugins/plugins-manager.php
Due: phplint, vendor/bin/phpcs

Query Monitor: Add cron panel
  qm-plugins/qm-cron/class-qm-cron-collector.php
  qm-plugins/qm-cron/class-qm-cron-output-html.php
  qm-plugins/qm-cron/qm-cron.php
  query-monitor.php
Due: phplint, vendor/bin/phpcs

Update qm-plugins/qm-cron/class-qm-cron-collector.php
  qm-plugins/qm-cron/class-qm-cron-collector.php
Due: phplint, vendor/bin/phpcs

Remove FQN
  qm-plugins/qm-cron/class-qm-cron-output-html.php
Due: phplint, vendor/bin/phpcs

Update qm-plugins/qm-cron/class-qm-cron-output-html.php
  qm-plugins/qm-cron/class-qm-cron-output-html.php
Due: phplint, vendor/bin/phpcs

Add file_exists() check and remove duplicated get_hours/get_minutes function
  qm-plugins/qm-cron/class-qm-cron-collector.php
  query-monitor.php
Due: phplint, vendor/bin/phpcs

Use self-closing br tags everywhere
  qm-plugins/qm-cron/class-qm-cron-output-html.php
Due: phplint, vendor/bin/phpcs

Address SonarCloud feedback
  qm-plugins/qm-cron/class-qm-cron-output-html.php
Due: phplint, vendor/bin/phpcs

Remove unused is_time_in_past()
  qm-plugins/qm-cron/class-qm-cron-output-html.php
Due: phplint, vendor/bin/phpcs

Query Monitor: Add cron panel (#3832)
  qm-plugins/qm-cron/class-qm-cron-collector.php
  qm-plugins/qm-cron/class-qm-cron-output-html.php
  qm-plugins/qm-cron/qm-cron.php
  query-monitor.php
Due: phplint, vendor/bin/phpcs

Experiment: This commit tries out integration of ForeSight with the e2e phase of the pipeline
  .github/workflows/instrument.yml
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

Update to lintstagedrc temporarily to try out an integration
  .lintstagedrc
Due: none

e2e: addImage() needs to click instead of tab
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

e2e: addImage() needs to click instead of tab (#3841)
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

ci: Fix core tests
  000-vip-init.php
  files/init-filesystem.php
  vip-helpers/vip-notoptions-mitigation.php
Due: phplint, vendor/bin/phpcs

ci: Fix core tests (#3842)
  000-vip-init.php
  files/init-filesystem.php
  vip-helpers/vip-notoptions-mitigation.php
Due: phplint, vendor/bin/phpcs

wp-parsely: fix integration tests.
  bin/test.sh
  tests/bootstrap.php
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

Improved version coverage & support newer method of building post metadata
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

lint fixes
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

Add vip_get_hyper_servers()
  001-core/constants.php
  tests/001-core/test-constants.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Add vip_get_hyper_servers() (#3846)
  001-core/constants.php
  tests/001-core/test-constants.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Add all the instructions needed to ensure that the developer has all the dependencies
  README.md
Due: none

Add all the instructions needed to ensure that the developer has all the dependencies (#3847)
  README.md
Due: none

Opcache_Collector: Add is_opcache_available() method (#3843)
  prometheus-collectors/class-opcache-collector.php
Due: phplint, vendor/bin/phpcs

Opcache_Collector: Add is_opcache_available() method (#3843) (#3844)
  prometheus-collectors/class-opcache-collector.php
Due: phplint, vendor/bin/phpcs

Properly implement API availability check
  prometheus-collectors/class-opcache-collector.php
Due: phplint, vendor/bin/phpcs

Block automatic loading of wp-parsely for FedRAMP sites.
  tests/parsely/test-mu-parsely-integration.php
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

feat(prometheus): Add `is_opcache_available()` (#3848)
  prometheus-collectors/class-opcache-collector.php
Due: phplint, vendor/bin/phpcs

This commit checks feasibility of adding foresight integration to Cypress tests with Junit reporter
  .github/workflows/instrument.yml
  .github/workflows/search-e2e.yml
Due: none

QUALITY-77: This commit adds ForeSight action in the github workflows of the test phases to monitor the resource consumption and test metrics in CI
  .github/workflows/e2e.yml
  .github/workflows/instrument.yml
  .github/workflows/search-e2e.yml
Due: none
