Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

linting fixes
  stats.php
Due: phplint, vendor/bin/phpcs

Search: Prevent parse_query hooks from corrupting health validation queries
  search/includes/classes/class-health.php
Due: phplint, vendor/bin/phpcs

Update search/includes/classes/class-health.php
  search/includes/classes/class-health.php
Due: phplint, vendor/bin/phpcs

better messag
  search/includes/classes/class-health.php
Due: phplint, vendor/bin/phpcs

[PLTFRM-1839] Search: Prevent parse_query hooks from corrupting CLI `wp vip-search health validate-counts` (#6613)
  search/includes/classes/class-health.php
Due: phplint, vendor/bin/phpcs

Search: Disable query logging in CLI context
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Remove EP_QUERY_LOG since it appears to be deprecated
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

[PLTFRM-1777]: Add tracking to successful email sends
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Update telemetry/pendo/class-pendo-javascript-library.php
  telemetry/pendo/class-pendo-javascript-library.php
Due: phplint, vendor/bin/phpcs

lint
  telemetry/pendo/class-pendo-javascript-library.php
Due: phplint, vendor/bin/phpcs

copilot feedback
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Use kebab casing
  vip-mail.php
Due: phplint, vendor/bin/phpcs

removing filter and better naming integration list
  telemetry/pendo/class-pendo-javascript-library.php
Due: phplint, vendor/bin/phpcs

fix(files): properly handle access mode combinations (#6538)
  files/class-vip-filesystem-local-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

format fixes
  integrations/integration.php
  integrations/parsely.php
  integrations/real-time-collaboration.php
  integrations/remote-data-blocks.php
  integrations/vip-governance.php
  telemetry/pendo/class-pendo-javascript-library.php
  tests/integrations/fake-integration.php
  tests/integrations/test-integration.php
Due: phplint, vendor/bin/phpcs

Remove Varnish support
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

Implement new purge types
  tests/test-vip-cache-manager.php
  vip-cache-manager/api.php
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

Drop wpcom_vip_ prefix in favor of wpvip_/old methods kept but now result in a deprecated_function
  vip-cache-manager/api.php
  wp-cli/vip-cache.php
Due: phplint, vendor/bin/phpcs

Add new functionality to WP-CLI as well
  wp-cli/vip-cache.php
Due: phplint, vendor/bin/phpcs

Re-work the dashboard UI as a separate widget
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

Add single URL purge
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

Rework the layout to a select box
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

Update wording and layout
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

s/error_log/trigger_error
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

feat(files): retry requests on cURL error 18
  files/class-api-client.php
Due: phplint, vendor/bin/phpcs

Update files/class-api-client.php
  files/class-api-client.php
Due: phplint, vendor/bin/phpcs

feat(files): retry requests on cURL error 18 (#6654)
  files/class-api-client.php
Due: phplint, vendor/bin/phpcs

Revert "feat(files): retry requests on cURL error 18 (#6654)"
  files/class-api-client.php
Due: phplint, vendor/bin/phpcs

Revert "feat(files): retry requests on cURL error 18 (#6654)" (#6657)
  files/class-api-client.php
Due: phplint, vendor/bin/phpcs

tests(e2e): update E2E tests to work in WP 6.9
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

tests(e2e): make tests more robust
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
Due: npm run lint-e2e

Merge pull request #6663 from Automattic/fix/e2e
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
Due: npm run lint-e2e

refactor(tests): implement Copilot's suggestions
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

refactor(tests): implement Copilot's suggestions (#6664)
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

ci: update actions (#6665)
  .github/actions/prepare-source/action.yml
  .github/actions/run-wp-tests/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/core-tests.yml
  .github/workflows/coverage-develop.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/parsely.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-staging.yml
  .github/workflows/search-dev-tools.yml
  .github/workflows/stale.yml
Due: none

Rework layout, implement JS callback
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

Add missing files
  vip-cache-manager/js/dashboard-widget.js
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
