Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

CI: Add action to create release PRs
  .github/workflows/create-release-prs.yml
  docs/release.md
Due: none

Fix Safe Publish multisite test coverage
  tests/integrations/test-safe-publish.php
Due: phplint, vendor/bin/phpcs

feedback
  .github/workflows/create-release-prs.yml
  docs/release.md
Due: none

Potential fix for pull request finding
  .github/workflows/create-release-prs.yml
Due: none

Potential fix for pull request finding
  docs/release.md
Due: none

CI: Add action to create release PRs (#6997)
  .github/workflows/create-release-prs.yml
  docs/release.md
Due: none

feat(large-media-warning): warn editors at file-pick time on large image uploads (#6956)
  .gitignore
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/pages/large-media-warning-modal.ts
  __tests__/e2e/specs/large_media_warning.spec.ts
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
  __tests__/e2e/test_media/image_small.jpg
  large-media-upload-warning.php
  large-media-upload-warning/README.md
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/plupload-tracker.js
  large-media-upload-warning/js/shared-confirm.js
  large-media-upload-warning/js/upload-interceptor.js
  tests/bootstrap.php
  tests/mock-constants.php
  tests/test-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

CI (Release PR): Fix YAML indentation
  .github/workflows/create-release-prs.yml
Due: none

CI (Release PR): Fix YAML indentation (#6998)
  .github/workflows/create-release-prs.yml
Due: none

Add Safe Publish VIP integration loader (#6996)
  integrations/safe-publish.php
  tests/integrations/test-safe-publish.php
  vip-integrations.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

chore: pin third-party GitHub Actions to commit SHAs
  .github/actions/run-wp-tests/action.yml
Due: none

Update RTC integration to plugin v0.3
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

chore: pin third-party GitHub Actions to commit SHAs (#7007)
  .github/actions/run-wp-tests/action.yml
Due: none

Update RTC integration to plugin v0.3 (#7008)
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

CI: Remove RELEASE_PR_TOKEN
  .github/workflows/create-release-prs.yml
  docs/release.md
Due: none

CI: Disable opcache on wp tests b/c segfaults
  .github/actions/run-wp-tests/action.yml
Due: none

Potential fix for pull request finding
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Enterprise Search: Prevent site's index version leaking into cross-site ES queries
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

CI: Disable opcache on wp tests b/c segfaults (#7010)
  .github/actions/run-wp-tests/action.yml
Due: none

CI: Remove RELEASE_PR_TOKEN from scheduled mu release (#7009)
  .github/workflows/create-release-prs.yml
  docs/release.md
Due: none

Integrations: Add WordPress MCP
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
  vip-integrations.php
Due: phplint, vendor/bin/phpcs

Potential fix for pull request finding
  integrations/wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

lint fix
  integrations/wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

Integrations: Add WordPress MCP (#7011)
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
  vip-integrations.php
Due: phplint, vendor/bin/phpcs

WordPress MCP: Customize 2FA denial error
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
