Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

fix for getting strlen of null values in autoloaded options. addresses #4995 (#5002)
  qm-plugins/qm-alloptions/class-qm-collector-alloptions.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

CI: Update WP Matrix to reflect current status (#5001)
  .github/workflows/ci.yml
Due: none

CANTINA-985: Add deprecation notice for wpcom_vip_get_page_by_path(), wpcom_vip_term_exists() and wpcom_vip_get_page_by_title()
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

CANTINA-985: Add deprecation notice for wpcom_vip_get_page_by_path(), wpcom_vip_term_exists() and wpcom_vip_get_page_by_title() (#4992)
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

Revert "fix(files): better handle directories in move() (#4970)"
  files/class-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

Revert "fix(files): better handle directories in move() (#4970)" (#5011)
  files/class-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

Revert "Revert "fix(files): better handle directories in move() (#4970)" (#5011)"
  files/class-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

test: add a test case for BREAKING-530
  tests/files/test-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

fix: BREAKING-530
  files/class-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

Jetpack: Update default to 12.8
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Revert "Revert "fix(files): better handle directories in `move()`"" (#5012)
  files/class-wp-filesystem-vip.php
  tests/files/test-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

Jetpack: Update default to 12.8 (#5003)
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

test: fix E2E tests
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/specs/page__publish.spec.ts
Due: npm run lint-e2e

test: fix E2E tests (#5022)
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/specs/page__publish.spec.ts
Due: npm run lint-e2e

fix(files): account for instantiation of WP_Filesystem_VIP without arguments
  files/class-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

Add and set wp-parsely 3.11 as the default version
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

Add and set wp-parsely 3.11 as the default version (#5018)
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

Set JP default version to the 12.7 release
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

fix(files): account for instantiation of WP_Filesystem_VIP without arguments (#5021)
  files/class-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

Add basic block index for block type counts, saved as post meta
  search/includes/classes/class-blockindex.php
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Change block indexing to use non-meta index to reduce storage size
  search/includes/classes/class-blockindex.php
Due: phplint, vendor/bin/phpcs

Add example queries, demo UI for block index
  vip-dashboard/vip-dashboard.php
Due: phplint, vendor/bin/phpcs

put Jetpack in offline mode when we're launching a site in the network
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Implement a new Header outputter for PHP Errors. The main purpose of it is to reduce the chances of requests breaking due to too many errors presented as headers for REST and redirect contexts
  qm-plugins/qm-limited-header-php-errors/output/headers/php-errors.php
  query-monitor.php
Due: phplint, vendor/bin/phpcs

Search e2e: Fix tests with recent updates
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/integration/indexables/user.spec.js
Due: none

Search e2e: Fix tests with recent updates (#5041)
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/integration/indexables/user.spec.js
Due: none

updated formatting
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Pad values some more
  qm-plugins/qm-limited-header-php-errors/output/headers/php-errors.php
Due: phplint, vendor/bin/phpcs

revert formatting to match project setup
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
