Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

test(feature): verify disabled ID precedence
  tests/lib/feature/test-class-feature.php
Due: phplint, vendor/bin/phpcs

test(wp-cli): exercise database command entry hook
  tests/lib/helpers/test-wp-cli-db.php
Due: phplint, vendor/bin/phpcs

test(e2e): authenticate attachment metadata request
  __tests__/e2e/specs/large_media_warning.spec.ts
Due: npm run lint-e2e

test(admin): exercise notice output escaping (PLTFRM-2970)
  tests/admin-notice/test-class-admin-notice.php
Due: phplint, vendor/bin/phpcs

test(cache): exercise WordPress term purge events (PLTFRM-2969)
  tests/test-cache-purge-term.php
Due: phplint, vendor/bin/phpcs

test(files): compose real remote upload validation (PLTFRM-2968)
  tests/files/test-vip-filesystem.php
Due: phplint, vendor/bin/phpcs

test: use current proxy constant fixtures
  tests/lib/proxy/test-get-proxy-verification-key.php
Due: phplint, vendor/bin/phpcs

test: prove proxy fallback keys cannot authorize requests (PLTFRM-2955)
  tests/lib/proxy/test-get-proxy-verification-key.php
Due: phplint, vendor/bin/phpcs

test: restore SMS test diagnostic settings (PLTFRM-2954)
  tests/wpcom-vip-two-factor/test-sms-provider.php
Due: phplint, vendor/bin/phpcs

style(e2e): align authenticated request options
  __tests__/e2e/specs/large_media_warning.spec.ts
Due: npm run lint-e2e

test(files): assert staged remote upload bytes (PLTFRM-2967)
  tests/files/test-vip-filesystem-local-stream-wrapper.php
  tests/prometheus-collectors/test-class-filesystem-stats-collector.php
Due: phplint, vendor/bin/phpcs

test(request-block): quote subprocess bootstrap path
  tests/lib/test-vip-request-block.php
Due: phplint, vendor/bin/phpcs

test(request-block): support PHP 8.5 response headers
  tests/lib/test-vip-request-block.php
Due: phplint, vendor/bin/phpcs

test(request-block): cover native HTTP denial path
  tests/lib/test-vip-request-block.php
Due: phplint, vendor/bin/phpcs

test(request-block): read response metadata from stream
  tests/lib/test-vip-request-block.php
Due: phplint, vendor/bin/phpcs

test(request-block): guard failed server process cleanup
  tests/lib/test-vip-request-block.php
Due: phplint, vendor/bin/phpcs

test(search): verify shared cache concurrency (PLTFRM-2992)
  README.md
  bin/test.sh
  docs/testing.md
  tests/search/fixtures/concurrency-cache-worker.php
  tests/search/includes/classes/test-concurrency-shared-cache.php
Due: phplint, vendor/bin/phpcs

test(search): isolate worker scenario within cleanup guard
  tests/search/includes/classes/test-concurrency-shared-cache.php
Due: phplint, vendor/bin/phpcs

test(search): bound subprocess pipe reads with deadlines
  tests/search/fixtures/concurrency-cache-worker.php
  tests/search/includes/classes/test-concurrency-shared-cache.php
Due: phplint, vendor/bin/phpcs

style(e2e): fix media request indentation
  __tests__/e2e/specs/large_media_warning.spec.ts
Due: npm run lint-e2e

test(telemetry): read queue state without deprecated reflection
  tests/telemetry/test-class-telemetry-event-queue.php
Due: phplint, vendor/bin/phpcs

test(telemetry): dispatch real queue through shutdown (PLTFRM-2985)
  tests/telemetry/test-class-telemetry-event-queue.php
Due: phplint, vendor/bin/phpcs

test(telemetry): cover HTTP acknowledgement boundaries on PHP 8.5
  tests/telemetry/pendo/test-class-pendo-client.php
  tests/telemetry/tracks/test-class-tracks-client.php
Due: phplint, vendor/bin/phpcs

fix(telemetry): reject failed HTTP acknowledgements (PLTFRM-2983)
  telemetry/pendo/class-pendo-track-client.php
  telemetry/tracks/class-tracks-client.php
  tests/telemetry/pendo/test-class-pendo-client.php
  tests/telemetry/tracks/test-class-tracks-client.php
Due: phplint, vendor/bin/phpcs

style: align verification link test scopes
  tests/vip-support/test-user.php
Due: phplint, vendor/bin/phpcs

test: verify support user ownership boundaries (PLTFRM-2950)
  tests/vip-support/test-user.php
Due: phplint, vendor/bin/phpcs

fix(e2e): assert persisted published post content
  __tests__/e2e/specs/publish.spec.ts
Due: npm run lint-e2e

test(e2e): assert published post content
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/specs/edit.spec.ts
Due: npm run lint-e2e

test(e2e): account for rendered text formatting
  __tests__/e2e/specs/edit.spec.ts
Due: npm run lint-e2e

test(search): correct index settings diff matrix (PLTFRM-2987)
  tests/search/includes/classes/test-class-health.php
Due: phplint, vendor/bin/phpcs

test(search): require explicit settings version selection
  tests/search/includes/classes/test-class-health.php
Due: phplint, vendor/bin/phpcs

test(telemetry): isolate Pendo permission and screen guards (PLTFRM-2979)
  tests/telemetry/pendo/test-class-pendo-javascript-library.php
Due: phplint, vendor/bin/phpcs

test: assert active integration load calls (PLTFRM-2945)
  tests/integrations/fake-integration.php
  tests/integrations/test-integrations.php
Due: phplint, vendor/bin/phpcs

test: bind Twilio mocks to authorized requests (PLTFRM-2953)
  tests/wpcom-vip-two-factor/test-sms-provider.php
Due: phplint, vendor/bin/phpcs

fix(search): return only owned queue checkout claims (PLTFRM-2990)
  docs/architecture.md
  search/includes/classes/class-queue.php
  search/includes/classes/queue/class-schema.php
  tests/search/includes/classes/test-class-queue.php
Due: phplint, vendor/bin/phpcs

fix(search): defer checkout until claim column is available
  search/includes/classes/class-queue.php
  tests/search/includes/classes/test-class-queue.php
Due: phplint, vendor/bin/phpcs

test(search): isolate transport fixtures from cached index checks
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

fix(e2e): clean up only sites created by the runner
  __tests__/e2e/bin/run-e2e.sh
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/bin/test-run-e2e-lifecycle.sh
Due: none

fix(e2e): isolate site lifecycle per run
  __tests__/e2e/README.md
  __tests__/e2e/bin/run-e2e.sh
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/bin/test-run-e2e-lifecycle.sh
  __tests__/e2e/package.json
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

test: reject real nonmatching integration directories (PLTFRM-2943)
  tests/integrations/test-integration-utils.php
Due: phplint, vendor/bin/phpcs
