Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

Check earlier if display-name is set (#3882)
  vip-support/class-vip-support-cli.php
Due: phplint, vendor/bin/phpcs

Bump @automattic/vip to 2.22.0
  .github/workflows/e2e.yml
Due: none

Temporarily add `docker stats --no-stream`
  __tests__/e2e/package.json
Due: none

ci: Update E2E workflow
  .github/workflows/e2e.yml
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

Revert
  __tests__/e2e/package.json
Due: none

ci: Update E2E workflow (#3872)
  .github/workflows/e2e.yml
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

chore(deps): Bump ramsey/composer-install to 2.2.0
  .github/actions/run-wp-tests/action.yml
Due: none

chore(deps): Bump ramsey/composer-install to 2.2.0 (#3874)
  .github/actions/run-wp-tests/action.yml
Due: none

Make helper methods in WPCOM_VIP_CLI_Command public and static
  vip-helpers/vip-wp-cli.php
Due: phplint, vendor/bin/phpcs

Use $this instead of self:: for internal method call
  vip-helpers/vip-wp-cli.php
Due: phplint, vendor/bin/phpcs

Remove parsely workflow entirely
  .github/workflows/parsely.yml
Due: none

ci: Fix Jetpack bootstrapping issue
  .github/actions/prepare-source/action.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-develop.yml
  .github/workflows/e2e.yml
  .github/workflows/parsely.yml
  .github/workflows/search-e2e.yml
Due: none

Update .github/actions/prepare-source/action.yml
  .github/actions/prepare-source/action.yml
Due: none

ci: Fix Jetpack bootstrapping issue (#3888)
  .github/actions/prepare-source/action.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-develop.yml
  .github/workflows/e2e.yml
  .github/workflows/parsely.yml
  .github/workflows/search-e2e.yml
Due: none

Make helper methods in WPCOM_VIP_CLI_Command public and static (#3887)
  vip-helpers/vip-wp-cli.php
Due: phplint, vendor/bin/phpcs

ci: Fix a typo in tag-release.yml
  .github/workflows/tag-release.yml
Due: none

ci: Fix a typo in tag-release.yml (#3889)
  .github/workflows/tag-release.yml
Due: none

Add one more test
  tests/search/includes/classes/test-class-health.php
Due: phplint, vendor/bin/phpcs

Add test
  tests/search/includes/classes/test-class-health.php
Due: phplint, vendor/bin/phpcs

Search: Update get_index_settings_diff_for_indexable() and heal_index_settings_for_indexable() to account for next EP version
  search/includes/classes/class-health.php
Due: phplint, vendor/bin/phpcs

Search: Update get_index_settings_diff_for_indexable() and heal_index_settings_for_indexable() to account for next EP version (#3879)
  search/includes/classes/class-health.php
  tests/search/includes/classes/test-class-health.php
Due: phplint, vendor/bin/phpcs

ci: Update deploy workflow
  .github/workflows/deploy.yml
Due: none

ci: Update deploy workflow (#3890)
  .github/workflows/deploy.yml
Due: none

Revert workflow file to remove the test code
  .github/workflows/search-e2e.yml
Due: none

Temporarily added branch search e2e in push workflow to avoid creating pr unless tested in CI
  .github/workflows/search-e2e.yml
Due: none

Update: remove commented code where not required
  tests/search/e2e/integration/features/custom-results.spec.js
  tests/search/e2e/integration/features/protected-content.spec.js
  tests/search/e2e/integration/features/search/synonyms.spec.js
  tests/search/e2e/integration/features/search/weighting.spec.js
  tests/search/e2e/integration/features/terms.spec.js
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/integration/general.spec.js
  tests/search/e2e/integration/wp-basic.spec.js
Due: none

Test: This commit tests cypress test times with experimental feature to share use cy.session and avoid /wp-admin visits in beforeEach -> login
  .gitignore
  tests/search/e2e/.gitignore
  tests/search/e2e/cypress.config.js
  tests/search/e2e/integration/features/custom-results.spec.js
  tests/search/e2e/integration/features/protected-content.spec.js
  tests/search/e2e/integration/features/search/search.spec.js
  tests/search/e2e/integration/features/search/synonyms.spec.js
  tests/search/e2e/integration/features/search/weighting.spec.js
  tests/search/e2e/integration/features/terms.spec.js
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/integration/general.spec.js
  tests/search/e2e/integration/wp-basic.spec.js
  tests/search/e2e/support/commands.js
Due: none

Fix: cy.session() gives testIsolation which requires each test to visit a page. Adding in the test where it was missing
  tests/search/e2e/integration/general.spec.js
Due: none

Adds site visit where required
  tests/search/e2e/integration/wp-basic.spec.js
Due: none

Search E2E test optimisations (#3884)
  .gitignore
  tests/search/e2e/.gitignore
  tests/search/e2e/cypress.config.js
  tests/search/e2e/integration/features/custom-results.spec.js
  tests/search/e2e/integration/features/protected-content.spec.js
  tests/search/e2e/integration/features/search/search.spec.js
  tests/search/e2e/integration/features/search/synonyms.spec.js
  tests/search/e2e/integration/features/search/weighting.spec.js
  tests/search/e2e/integration/features/terms.spec.js
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/integration/general.spec.js
  tests/search/e2e/integration/wp-basic.spec.js
  tests/search/e2e/support/commands.js
Due: none

ci: Fix rsync command in deploy.yml
  .github/workflows/deploy.yml
Due: none

ci: Fix rsync command in deploy.yml (#3892)
  .github/workflows/deploy.yml
Due: none

Add validate_post_index_mapping()
  search/includes/classes/class-health.php
  search/includes/classes/class-settingshealthjob.php
Due: phplint, vendor/bin/phpcs

ci: Add a workflow to build Docker image
  .github/workflows/build-docker-image.yml
Due: none

ci: Add a workflow to build Docker image (#3898)
  .github/workflows/build-docker-image.yml
Due: none

ci: Typo fix
  .github/workflows/build-docker-image.yml
Due: none

Run `maybe_process_build()` if incorrect mapping found
  search/includes/classes/class-health.php
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-health.php
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
