Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

test: reject wrong passwords for privileged REST logins (PLTFRM-2935) (#7308)
  tests/test-vip-rest-api.php
Due: phplint, vendor/bin/phpcs

test(files): verify upload temporary-file cleanup (PLTFRM-2959) (#7317)
  tests/files/test-wp-filesystem-vip-uploads.php
Due: phplint, vendor/bin/phpcs

test: exercise private site restriction hooks (PLTFRM-2941) (#7322)
  tests/security/test-class-private-sites.php
Due: phplint, vendor/bin/phpcs

test: pass URL to Twilio VerificationCheck mock
  tests/wpcom-vip-two-factor/test-sms-provider.php
Due: phplint, vendor/bin/phpcs

test: pass URL to Twilio VerificationCheck mock (#7383)
  tests/wpcom-vip-two-factor/test-sms-provider.php
Due: phplint, vendor/bin/phpcs

test(telemetry): dispatch real queue through shutdown (PLTFRM-2985) (#7351)
  tests/telemetry/test-class-telemetry-event-queue.php
Due: phplint, vendor/bin/phpcs

fix(e2e): honor requested WordPress version
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/bin/test-setup-env-version.sh
Due: none

fix(e2e): honor requested WordPress version (#7337)
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/bin/test-setup-env-version.sh
Due: none

test: isolate integration filesystem fixtures (PLTFRM-2944)
  tests/integrations/test-integration-utils.php
Due: phplint, vendor/bin/phpcs

test: isolate integration filesystem fixtures (PLTFRM-2944) (#7327)
  tests/integrations/test-integration-utils.php
Due: phplint, vendor/bin/phpcs

test(search): isolate transport fixtures from cached index checks
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

test(search): exercise real deadlock recovery SQL (PLTFRM-2975)
  tests/search/includes/classes/test-class-queue.php
Due: phplint, vendor/bin/phpcs

test(search): allow either valid deadlock duplicate survivor
  tests/search/includes/classes/test-class-queue.php
Due: phplint, vendor/bin/phpcs

test(search): exercise real deadlock recovery SQL (PLTFRM-2975) (#7318)
  tests/search/includes/classes/test-class-queue.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

style: align token dispatch assignments
  tests/test-vip-rest-api.php
Due: phplint, vendor/bin/phpcs

test: retry token assertions across clock boundaries
  tests/test-vip-rest-api.php
Due: phplint, vendor/bin/phpcs

test: sign REST token fixtures independently (PLTFRM-2936)
  tests/test-vip-rest-api.php
Due: phplint, vendor/bin/phpcs

style: align token assertions with coding standards
  tests/test-vip-rest-api.php
Due: phplint, vendor/bin/phpcs

test: sign REST token fixtures independently (PLTFRM-2936) (#7309)
  tests/test-vip-rest-api.php
Due: phplint, vendor/bin/phpcs

fix(telemetry): log HTTP rejection details
  telemetry/pendo/class-pendo-track-client.php
  telemetry/tracks/class-tracks-client.php
  tests/telemetry/pendo/test-class-pendo-client.php
  tests/telemetry/tracks/test-class-tracks-client.php
Due: phplint, vendor/bin/phpcs

fix: stabilize search fixture and share telemetry error logging
  telemetry/class-telemetry-client.php
  telemetry/pendo/class-pendo-track-client.php
  telemetry/tracks/class-tracks-client.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

fix(telemetry): reject failed HTTP acknowledgements (PLTFRM-2983) (#7349)
  telemetry/class-telemetry-client.php
  telemetry/pendo/class-pendo-track-client.php
  telemetry/tracks/class-tracks-client.php
  tests/search/includes/classes/test-class-search.php
  tests/telemetry/pendo/test-class-pendo-client.php
  tests/telemetry/tracks/test-class-tracks-client.php
Due: phplint, vendor/bin/phpcs

test(search): register ep-pointer in custom results existence test
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Search Dev Tools: trim redundant tests
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
  search/search-dev-tools/tests/utils.test.mjs
  tests/search/test-search-dev-tools.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

Search Dev Tools: reuse Search::get_index_name_for_url()
  search/search-dev-tools/search-dev-tools.php
  tests/search/test-search-dev-tools.php
Due: phplint, vendor/bin/phpcs

Search Dev Tools: use a Set for the tree path lookup in tests
  search/search-dev-tools/tests/utils.test.mjs
Due: none

Search Dev Tools: copy fallback, failed re-run text, unresolved aliases
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/search-dev-tools.php
  search/search-dev-tools/src/components/query-detail.js
  search/search-dev-tools/src/utils.js
  search/search-dev-tools/tests/utils.test.mjs
  tests/search/test-search-dev-tools.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

Search Dev Tools: keep typing fast next to large responses
  __tests__/e2e/lib/pages/search-page.ts
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/src/components/json-tree.js
  search/search-dev-tools/src/components/query-detail.js
Due: npm run lint-e2e

Search Dev Tools: render the panel in a shadow root
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
  search/search-dev-tools/README.md
  search/search-dev-tools/build/bundle.css
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/src/components/app.js
  search/search-dev-tools/src/components/code-editor.js
  search/search-dev-tools/src/components/info-strip.js
  search/search-dev-tools/src/components/json-tree.js
  search/search-dev-tools/src/components/query-detail.js
  search/search-dev-tools/src/dom.js
  search/search-dev-tools/src/index.js
  search/search-dev-tools/src/style/admin-bar.scss
  search/search-dev-tools/src/style/style.scss
  search/search-dev-tools/webpack.config.js
Due: npm run lint-e2e

Search Dev Tools: read structured backtrace frames from ElasticPress
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/src/components/query-detail.js
  search/search-dev-tools/src/template.html
  search/search-dev-tools/src/utils.js
  search/search-dev-tools/tests/utils.test.mjs
Due: none

Search Dev Tools: clear stale errors, show lower-bound totals
  __tests__/e2e/specs/searchdevtools.spec.ts
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/src/components/query-detail.js
  search/search-dev-tools/src/utils.js
  search/search-dev-tools/tests/utils.test.mjs
Due: npm run lint-e2e

Search Dev Tools: drop the "This site" label from the info strip
  __tests__/e2e/specs/searchdevtools.spec.ts
  search/search-dev-tools/README.md
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/search-dev-tools.php
  search/search-dev-tools/src/components/info-strip.js
  search/search-dev-tools/src/style/style.scss
  search/search-dev-tools/src/template.html
  tests/search/test-search-dev-tools.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

Search Dev Tools: keep run results and errors across panel remounts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/src/components/app.js
  search/search-dev-tools/src/components/query-detail.js
Due: npm run lint-e2e

Search Dev Tools: CSP-safe panel styles, cross-site flag at request time
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/search-dev-tools.php
  search/search-dev-tools/src/dom.js
  tests/search/test-search-dev-tools.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

Search Dev Tools: keep the Elasticsearch status for re-runs
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/search-dev-tools.php
  search/search-dev-tools/src/components/query-detail.js
  search/search-dev-tools/tests/utils.test.mjs
  tests/search/test-search-dev-tools.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

Potential fix for pull request finding 'Inline indentation styling breaks under strict style-src CSP'
  search/search-dev-tools/src/components/json-tree.js
Due: none

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

Search Dev Tools: drop "not returned" from the per-index breakdown
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/src/components/query-detail.js
  search/search-dev-tools/src/style/style.scss
  search/search-dev-tools/src/utils.js
  search/search-dev-tools/tests/utils.test.mjs
Due: none

Potential fix for pull request finding 'Error summary is not rendered above the response tree'
  search/search-dev-tools/README.md
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
