Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

fix: recover support form after AJAX failures
  vip-dashboard/assets/js/vip-dashboard.js
Due: none

Update RTC integration Gutenberg artifact
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

[PLTFRM-2831] Log support-form mail failures with trigger_error
  tests/vip-dashboard/test-vip-dashboard.php
  vip-dashboard/vip-dashboard.php
Due: phplint, vendor/bin/phpcs

fix: redact quoted JSON credential keys in support-form logs
  tests/vip-dashboard/test-vip-dashboard.php
  vip-dashboard/vip-dashboard.php
Due: phplint, vendor/bin/phpcs

Skip local Connection Pilot cleanup and guard missing integration
  docs/testing.md
  tests/fixtures/wp-cli/cleanup-connection-pilot.php
  tests/test-cleanup-connection-pilot.php
  vip-helpers/vip-migrations.php
  wp-cli/vip-data-cleanup.php
Due: phplint, vendor/bin/phpcs

Remove imported connection credentials during local SQL cleanup
  README.md
  docs/testing.md
  tests/fixtures/wp-cli/class-cleanup-cli.php
  tests/mock-constants.php
  tests/test-local-import-cleanup.php
  vip-helpers/vip-migrations.php
  wp-cli/vip-data-cleanup.php
Due: phplint, vendor/bin/phpcs

Preflight Jetpack requirements before loading a candidate
  docs/setup.md
  jetpack.php
  tests/fixtures/jetpack/load.php
  tests/fixtures/wp-cli/class-cleanup-cli.php
  tests/fixtures/wp-cli/cleanup-connection-pilot.php
  tests/test-jetpack-loader.php
Due: phplint, vendor/bin/phpcs

Use PHPUnit teardown for Jetpack loader fixtures
  tests/test-jetpack-loader.php
Due: phplint, vendor/bin/phpcs

Verify credential deletion and restore import-test schema
  tests/test-local-import-cleanup.php
Due: phplint, vendor/bin/phpcs

Limit Jetpack compatibility preflight to local environments
  docs/setup.md
  jetpack.php
  tests/fixtures/jetpack/load.php
  tests/test-jetpack-loader.php
Due: phplint, vendor/bin/phpcs

Seed a string API key accepted by Jetpack option validation
  tests/test-local-import-cleanup.php
Due: phplint, vendor/bin/phpcs

Replace synthetic loader harness with WordPress regressions
  docs/testing.md
  jetpack.php
  tests/fixtures/jetpack/load.php
  tests/fixtures/wp-cli/cleanup-connection-pilot.php
  tests/test-cleanup-connection-pilot.php
  tests/test-jetpack-loader.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Allow environment connector credentials when org is disabled
  integrations/connector-controls.php
  tests/integrations/test-connector-controls.php
Due: phplint, vendor/bin/phpcs

Isolate retained-subsite options tables in import tests
  tests/test-local-import-cleanup.php
Due: phplint, vendor/bin/phpcs

Cover network-site credentials with disabled org
  tests/integrations/test-connector-controls.php
  tests/test-security.php
Due: phplint, vendor/bin/phpcs

Reuse the installer admin in the restricted-login test
  tests/test-security.php
Due: phplint, vendor/bin/phpcs

Pin MCP Adapter to 0.6 on WordPress 6.9+
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

Remove transient nightly test workaround
  tests/test-security.php
Due: phplint, vendor/bin/phpcs

Simplify Jetpack cleanup tests using real WP-CLI
  __tests__/e2e/bin/setup-env.sh
  docs/testing.md
  tests/fixtures/wp-cli/class-cleanup-cli.php
  tests/fixtures/wp-cli/cleanup-connection-pilot.php
  tests/test-cleanup-connection-pilot.php
  tests/test-local-import-cleanup.php
Due: phplint, vendor/bin/phpcs

Pin MCP Adapter to 0.6 on WordPress 6.9+ (#7292)
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

[PLTFRM-2870] Guard Jetpack loading and local import cleanup (#7287)
  README.md
  __tests__/e2e/bin/setup-env.sh
  docs/setup.md
  docs/testing.md
  jetpack.php
  tests/fixtures/wp-cli/cleanup-connection-pilot.php
  tests/mock-constants.php
  tests/test-cleanup-connection-pilot.php
  tests/test-jetpack.php
  tests/test-local-import-cleanup.php
  tests/test-security.php
  vip-helpers/vip-migrations.php
  wp-cli/vip-data-cleanup.php
Due: phplint, vendor/bin/phpcs

Base VIP Search slow-query warnings on engine time
  search/includes/classes/class-query-warning.php
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-query-warning.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Allow scoped connector credentials when org is disabled (#7291)
  integrations/connector-controls.php
  tests/integrations/test-connector-controls.php
Due: phplint, vendor/bin/phpcs

fix(search): offload term indexing to the async queue
  search/includes/classes/class-queue.php
  tests/search/includes/classes/test-class-queue.php
Due: phplint, vendor/bin/phpcs

fix(search): keep EP syncing all blogs when offloading term indexing
  search/includes/classes/class-queue.php
  tests/search/includes/classes/test-class-queue.php
Due: phplint, vendor/bin/phpcs

Merge pull request #7276 from Automattic/codex/pltfrm-2831-support-form-mail
  tests/vip-dashboard/test-vip-dashboard.php
  vip-dashboard/assets/js/vip-dashboard.js
  vip-dashboard/vip-dashboard.php
Due: phplint, vendor/bin/phpcs

Fix E2E lint for eslint-plugin-wpvip 2.0.0
  __tests__/e2e/eslint.config.js
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
Due: npm run lint-e2e

Simplify slow-query payload attribution
  search/includes/classes/class-query-warning.php
  tests/search/includes/classes/test-class-query-warning.php
Due: phplint, vendor/bin/phpcs

Bump eslint-plugin-wpvip to 2.0.1 and drop space-unary-ops override
  __tests__/e2e/eslint.config.js
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
Due: npm run lint-e2e

Prefix human-readable search warnings with VIP_SEARCH_QUERY_WARNING
  search/includes/classes/class-query-warning.php
  tests/search/includes/classes/test-class-query-warning.php
Due: phplint, vendor/bin/phpcs

[PLTFRM-2930] Base VIP Search slow-query warnings on engine time (#7294)
  search/includes/classes/class-query-warning.php
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-query-warning.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Streamline E2E suite: merge duplicate specs, add assertions, run in parallel
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/playwright.config.ts
  __tests__/e2e/specs/edit.spec.ts
  __tests__/e2e/specs/large_media_warning.spec.ts
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
  __tests__/e2e/specs/publish.spec.ts
Due: npm run lint-e2e

Streamline E2E suite: merge duplicate specs, add assertions, run in parallel (#7296)
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/playwright.config.ts
  __tests__/e2e/specs/edit.spec.ts
  __tests__/e2e/specs/large_media_warning.spec.ts
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
  __tests__/e2e/specs/publish.spec.ts
Due: npm run lint-e2e

Pin test runner APP_HOME and workdir in bin/test.sh
  bin/test.sh
  docs/testing.md
Due: none

Mount test project at /home/debian/project instead of CircleCI path
  bin/test.sh
Due: none

Scope Search_Test HTTP shims to Search_Test and mock HTTP in other Search tests
  tests/search/includes/classes/test-class-queue.php
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-settingshealthjob.php
  tests/search/includes/classes/test-class-versioning.php
Due: phplint, vendor/bin/phpcs

Mount test project at the runner image's path in bin/test.sh (#7300)
  bin/test.sh
  docs/testing.md
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
