Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

fixup(large-media-warning): harden dialog (no innerHTML, sprintf i18n, wider allowlist)
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/shared-confirm.js
Due: phplint, vendor/bin/phpcs

feat(large-media-warning): plupload BeforeUpload interceptor
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/plupload-warning.js
Due: phplint, vendor/bin/phpcs

fixup(large-media-warning): drop useless catch + fail-open on promise reject
  large-media-upload-warning/js/plupload-warning.js
Due: none

feat(large-media-warning): Gutenberg uploadMedia interceptor
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/gutenberg-warning.js
Due: phplint, vendor/bin/phpcs

fixup(large-media-warning): pass real Error to Gutenberg onError + i18n message
  large-media-upload-warning/js/gutenberg-warning.js
Due: none

test(large-media-warning): fixture, page object, e2e setup-env threshold
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/pages/large-media-warning-modal.ts
  __tests__/e2e/test_media/image_small.jpg
Due: npm run lint-e2e

docs: update plan after dev-env-plugin.php restructure
  docs/superpowers/plans/2026-05-13-large-media-upload-warning.md
Due: none

test(large-media-warning): e2e spec across Media Library, Classic, Gutenberg
  __tests__/e2e/specs/large_media_warning.spec.ts
Due: npm run lint-e2e

fixup(large-media-warning): assert image landed in Classic editor frame
  __tests__/e2e/specs/large_media_warning.spec.ts
Due: npm run lint-e2e

test(e2e): swap incidental fixture to image_small to avoid warning
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
Due: npm run lint-e2e

docs(large-media-warning): operator README and PR notes
  large-media-upload-warning/README.md
Due: none

docs(large-media-warning): note filter rename and screen-field deferral
  large-media-upload-warning/README.md
Due: none

docs(plan): note as-built deviations after implementation
  docs/superpowers/plans/2026-05-13-large-media-upload-warning.md
Due: none

fixup(large-media-warning): address Copilot, ESLint, and SonarCloud feedback
  __tests__/e2e/lib/pages/large-media-warning-modal.ts
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning.php
  large-media-upload-warning/js/gutenberg-warning.js
  large-media-upload-warning/js/plupload-warning.js
  large-media-upload-warning/js/shared-confirm.js
  tests/test-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

fix(e2e): use wp config set --add so threshold constants actually get defined
  __tests__/e2e/bin/setup-env.sh
Due: none

test(e2e): add diagnostic probe to verify module JS is enqueued
  __tests__/e2e/specs/large_media_warning.spec.ts
Due: npm run lint-e2e

fix(large-media-warning): wrap plupload.Uploader directly; eager-wrap mediaUtils with proper dep
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/gutenberg-warning.js
  large-media-upload-warning/js/plupload-warning.js
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

fix(large-media-warning): inline interceptors via wp_add_inline_script to run before init
  large-media-upload-warning/class-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs

test(e2e): add sentinel to detect whether gutenberg inline actually ran
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/js/gutenberg-warning.js
Due: npm run lint-e2e

fix(large-media-warning): patch block editor settings to ensure Gutenberg uses wrapped uploadMedia
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/js/gutenberg-warning.js
Due: npm run lint-e2e

test(e2e): add plupload sentinels + upload-flow probe to find Media Library issue
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/js/plupload-warning.js
Due: npm run lint-e2e

fix(large-media-warning): wrap plupload.Uploader constructor; bump Gutenberg poll + post-mount probe
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/js/gutenberg-warning.js
  large-media-upload-warning/js/plupload-warning.js
Due: npm run lint-e2e

fix(large-media-warning): hook FilesAdded (not BeforeUpload); guard Gutenberg tryWrap from throwing
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/js/gutenberg-warning.js
  large-media-upload-warning/js/plupload-warning.js
Due: npm run lint-e2e

test(e2e): add wrappedMediaUpload sentinel + Gutenberg upload-flow probe
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/js/gutenberg-warning.js
Due: npm run lint-e2e

test(e2e): make Gutenberg upload probe non-blocking; probe iframes
  __tests__/e2e/specs/large_media_warning.spec.ts
Due: npm run lint-e2e

test(e2e): skip Gutenberg image-block tests; document v1 limitation in README
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/README.md
Due: npm run lint-e2e

fixup(e2e): remove blank line trip from padded-blocks
  __tests__/e2e/specs/large_media_warning.spec.ts
Due: npm run lint-e2e

fixup(large-media-warning): address SonarCloud — optional chaining + object spread + extract helpers
  large-media-upload-warning/js/gutenberg-warning.js
  large-media-upload-warning/js/plupload-warning.js
  large-media-upload-warning/js/shared-confirm.js
Due: none

feat(large-media-warning): rewrite as DOM-level interceptor for reliable confirm + Gutenberg drag-drop
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/README.md
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/gutenberg-warning.js
  large-media-upload-warning/js/plupload-warning.js
  large-media-upload-warning/js/upload-interceptor.js
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

Helper function: Add vip_get_mobile
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Kata is sooo annoying
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

fix(large-media-warning): add XHR/fetch wrap for drag-drop; drop persistent fingerprint cache
  large-media-upload-warning/js/upload-interceptor.js
Due: none

fix(large-media-warning): return WP-shaped JSON on cancelled fetch so Gutenberg shows 'Upload cancelled.'
  large-media-upload-warning/js/upload-interceptor.js
Due: none

fix(large-media-warning): clear plupload's queue tile on cancel via removeFile
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/plupload-tracker.js
  large-media-upload-warning/js/upload-interceptor.js
Due: phplint, vendor/bin/phpcs

chore: gitignore .claude/ and drop accidental worktree gitlink
  .gitignore
Due: none

fix(large-media-warning): DOM-remove orphan 'uploading…' tile on cancel
  large-media-upload-warning/js/upload-interceptor.js
Due: none

fix(large-media-warning): destroy orphan wp.media.Attachment on cancel
  large-media-upload-warning/js/plupload-tracker.js
  large-media-upload-warning/js/upload-interceptor.js
Due: none

diag(large-media-warning): add [VIP-LMW] console logging gated on __vipDebug
  large-media-upload-warning/js/plupload-tracker.js
  large-media-upload-warning/js/upload-interceptor.js
Due: none

fix(large-media-warning): clean orphan attachment from wp.media collections
  large-media-upload-warning/js/plupload-tracker.js
Due: none

refactor(large-media-warning): drop unused workarounds; wp.media cleanup is enough
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/plupload-tracker.js
  large-media-upload-warning/js/upload-interceptor.js
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
