Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

Apply code review suggestions
  wp-cli/vip-cache.php
Due: phplint, vendor/bin/phpcs

chore: update vulnerable dependencies (1L 2M 1H)
  search/search-dev-tools/package-lock.json
Due: none

chore: update dependencies in `search-dev-tools` (#6666)
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
Due: none

chore: update linting infrastructure
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/eslint.config.js
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
Due: npm run lint-e2e

chore: update linting infrastructure (#6667)
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/eslint.config.js
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
Due: npm run lint-e2e

Remove WPcom-specific rewrite rules flush logic (#6587)
  rewrite-rules-inspector.php
Due: phplint, vendor/bin/phpcs

Update the link to docs
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

CI: align php + wp compat matrix
  .github/workflows/ci.yml
Due: none

feedback
  .github/workflows/ci.yml
  phpcs.xml.dist
Due: none

rm setAccessible
  tests/cache/test-vary-cache.php
  tests/files/test-api-client.php
  tests/files/test-image-sizes.php
  tests/files/test-image.php
  tests/files/test-vip-filesystem-api-cache.php
  tests/files/test-vip-filesystem-local-stream-wrapper.php
  tests/files/test-vip-filesystem.php
  tests/files/test-wp-filesystem-vip-uploads.php
  tests/files/test-wp-filesystem-vip.php
  tests/search/includes/classes/test-class-queue.php
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-versioning.php
  tests/security/test-lockout.php
  tests/telemetry/pendo/test-class-pendo.php
  tests/telemetry/tracks/test-class-tracks.php
  tests/utils/utils.php
  tests/vip-jetpack/connection-pilot/test-class-jetpack-connection-pilot.php
  tests/vip-parsely/Telemetry/Tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

version gate finfo_close
  files/class-api-client.php
Due: phplint, vendor/bin/phpcs

[PLTFRM-1860] Search: Use additional WHERE status clause in update_jobs() to prevent race condition
  search/includes/classes/class-queue.php
  tests/search/includes/classes/test-class-queue.php
Due: phplint, vendor/bin/phpcs

CI: align php + wp compat matrix (#6668)
  .github/workflows/ci.yml
  files/class-api-client.php
  phpcs.xml.dist
  tests/cache/test-vary-cache.php
  tests/files/test-api-client.php
  tests/files/test-image-sizes.php
  tests/files/test-image.php
  tests/files/test-vip-filesystem-api-cache.php
  tests/files/test-vip-filesystem-local-stream-wrapper.php
  tests/files/test-vip-filesystem.php
  tests/files/test-wp-filesystem-vip-uploads.php
  tests/files/test-wp-filesystem-vip.php
  tests/search/includes/classes/test-class-queue.php
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-versioning.php
  tests/security/test-lockout.php
  tests/telemetry/pendo/test-class-pendo.php
  tests/telemetry/tracks/test-class-tracks.php
  tests/utils/utils.php
  tests/vip-jetpack/connection-pilot/test-class-jetpack-connection-pilot.php
  tests/vip-parsely/Telemetry/Tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Remove coverage-develop.yml since we already have ci.yml
  .github/workflows/coverage-develop.yml
Due: none

Remove coverage-develop.yml since we already have ci.yml (#6669)
  .github/workflows/coverage-develop.yml
Due: none

Remove the old way
  vip-cache-manager/js/dashboard-widget.js
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

Bump the default permission down to edit_others_posts
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

ci: address issues found by SonarCloud
  .github/workflows/e2e.yml
  .github/workflows/release-prod.yml
Due: none

Add return type to Search::instance()
  .vscode/settings.json
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Drop vscode
  .vscode/settings.json
Due: none

Docblock
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Add return type to Search::instance() (#6677)
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

fix: high severity CVE-2025-15284 in `qs`
  search/search-dev-tools/package-lock.json
Due: none

Query Monitor: Update to 3.20.2
  query-monitor/SECURITY.md
  query-monitor/assets/query-monitor.js
  query-monitor/classes/Collector_Assets.php
  query-monitor/collectors/db_queries.php
  query-monitor/collectors/php_errors.php
  query-monitor/collectors/theme.php
  query-monitor/composer.json
  query-monitor/dispatchers/Html.php
  query-monitor/dispatchers/WP_Die.php
  query-monitor/output/Html.php
  query-monitor/output/html/admin.php
  query-monitor/output/html/assets.php
  query-monitor/output/html/block_editor.php
  query-monitor/output/html/caps.php
  query-monitor/output/html/conditionals.php
  query-monitor/output/html/db_callers.php
  query-monitor/output/html/db_components.php
  query-monitor/output/html/db_dupes.php
  query-monitor/output/html/db_queries.php
  query-monitor/output/html/doing_it_wrong.php
  query-monitor/output/html/environment.php
  query-monitor/output/html/headers.php
  query-monitor/output/html/hooks.php
  query-monitor/output/html/http.php
  query-monitor/output/html/languages.php
  query-monitor/output/html/logger.php
  query-monitor/output/html/multisite.php
  query-monitor/output/html/overview.php
  query-monitor/output/html/php_errors.php
  query-monitor/output/html/request.php
  query-monitor/output/html/theme.php
  query-monitor/output/html/timing.php
  query-monitor/output/html/transients.php
  query-monitor/query-monitor.php
  query-monitor/readme.txt
  query-monitor/vendor/composer/installed.php
  query-monitor/wp-content/db.php
Due: phplint, vendor/bin/phpcs

fix: high severity CVE-2025-15284 in `qs` (#6681)
  search/search-dev-tools/package-lock.json
Due: none

Query Monitor: Update to 3.20.2 (#6682)
  query-monitor/SECURITY.md
  query-monitor/assets/query-monitor.js
  query-monitor/classes/Collector_Assets.php
  query-monitor/collectors/db_queries.php
  query-monitor/collectors/php_errors.php
  query-monitor/collectors/theme.php
  query-monitor/composer.json
  query-monitor/dispatchers/Html.php
  query-monitor/dispatchers/WP_Die.php
  query-monitor/output/Html.php
  query-monitor/output/html/admin.php
  query-monitor/output/html/assets.php
  query-monitor/output/html/block_editor.php
  query-monitor/output/html/caps.php
  query-monitor/output/html/conditionals.php
  query-monitor/output/html/db_callers.php
  query-monitor/output/html/db_components.php
  query-monitor/output/html/db_dupes.php
  query-monitor/output/html/db_queries.php
  query-monitor/output/html/doing_it_wrong.php
  query-monitor/output/html/environment.php
  query-monitor/output/html/headers.php
  query-monitor/output/html/hooks.php
  query-monitor/output/html/http.php
  query-monitor/output/html/languages.php
  query-monitor/output/html/logger.php
  query-monitor/output/html/multisite.php
  query-monitor/output/html/overview.php
  query-monitor/output/html/php_errors.php
  query-monitor/output/html/request.php
  query-monitor/output/html/theme.php
  query-monitor/output/html/timing.php
  query-monitor/output/html/transients.php
  query-monitor/query-monitor.php
  query-monitor/readme.txt
  query-monitor/vendor/composer/installed.php
  query-monitor/wp-content/db.php
Due: phplint, vendor/bin/phpcs

[PLTFRM-1860] Search: Use additional WHERE status clause in update_jobs() to prevent race condition (#6662)
  search/includes/classes/class-queue.php
  tests/search/includes/classes/test-class-queue.php
Due: phplint, vendor/bin/phpcs

chore(search-dev-tools): migrate to ESLint 9 and rebuild everything
  search/search-dev-tools/.eslintrc.json
  search/search-dev-tools/build/bundle.css
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/eslint.config.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
  search/search-dev-tools/src/components/app.js
  search/search-dev-tools/src/webpack-public-path.js
Due: none

chore(search-dev-tools): migrate to ESLint 9 and rebuild everything (#6686)
  search/search-dev-tools/.eslintrc.json
  search/search-dev-tools/build/bundle.css
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/eslint.config.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
  search/search-dev-tools/src/components/app.js
  search/search-dev-tools/src/webpack-public-path.js
Due: none

Switch the block data api and the governance plugin to use the latest version
  integrations/block-data-api.php
  integrations/vip-governance.php
Due: phplint, vendor/bin/phpcs

Add two tests for the new code
  tests/integrations/test-vip-block-data-api.php
  tests/integrations/test-vip-governance.php
Due: phplint, vendor/bin/phpcs

Remove trailing space
  integrations/block-data-api.php
Due: phplint, vendor/bin/phpcs

Pull out the common code to reduce code duplication
  integrations/block-data-api.php
  integrations/integration-utils.php
  integrations/vip-governance.php
  tests/integrations/test-integration-utils.php
Due: phplint, vendor/bin/phpcs

Tweak the latest version method in the test mock
  tests/integrations/test-vip-block-data-api.php
  tests/integrations/test-vip-governance.php
Due: phplint, vendor/bin/phpcs
