Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

Remove Admin Notice displayed for WP 5.9 since VIP no longer supports it
  admin-notice/admin-notice.php
Due: phplint, vendor/bin/phpcs

Remove Admin Notice displayed for WP 5.9 since VIP no longer supports it (#5710)
  admin-notice/admin-notice.php
Due: phplint, vendor/bin/phpcs

Update wp-object-cache.php
  drop-ins/wp-memcached/includes/wp-object-cache.php
Due: phplint, vendor/bin/phpcs

Update qm-plugins/qm-vip-concat/class-qm-output-vip-concat.php
  qm-plugins/qm-vip-concat/class-qm-output-vip-concat.php
Due: phplint, vendor/bin/phpcs

ci: use Node.js 20
  .github/workflows/search-e2e.yml
Due: none

test: use compose plugin instead of docker-compose
  .github/workflows/search-e2e.yml
  bin/search/install-wp-cli.sh
  bin/search/wp-env-cli
Due: none

Jetpack: Update to 13.6 as default
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Jetpack: Update to 13.6 as default (#5725)
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Fixes `log2logstash` debugging on local dev-envs
  logstash/class-logger.php
Due: phplint, vendor/bin/phpcs

Account for falsy VIP_GO_ENV
  logstash/class-logger.php
Due: phplint, vendor/bin/phpcs

Adds support for the TWILIO_MESSAGING_SERVICE_SID when sending sms to rely on Twilio routing
  lib/sms.php
Due: phplint, vendor/bin/phpcs

Adds support for the TWILIO_MESSAGING_SERVICE_SID when sending SMS
  lib/sms.php
Due: phplint, vendor/bin/phpcs

Adds support for the TWILIO_MESSAGING_SERVICE_SID when sending SMS (#5737)
  lib/sms.php
Due: phplint, vendor/bin/phpcs

Removes check since we're already checking on process_entries_on_shutdown
  logstash/class-logger.php
Due: phplint, vendor/bin/phpcs

rename TWILIO_MESSAGING_SERVICE_SID to VIP_TWILIO_MESSAGING_SERVICE_SID
  lib/sms.php
Due: phplint, vendor/bin/phpcs

rename TWILIO_MESSAGING_SERVICE_SID to VIP_TWILIO_MESSAGING_SERVICE_SID (#5739)
  lib/sms.php
Due: phplint, vendor/bin/phpcs

Fixes `log2logstash` debugging on local dev-envs (#5727)
  logstash/class-logger.php
Due: phplint, vendor/bin/phpcs

Add basic Prometheus / metrics docs
  prometheus/README.md
Due: none

Add basic Prometheus / metrics docs (#5742)
  prometheus/README.md
Due: none

test: update E2E tests for WP 6.6.1
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

test: update E2E tests for WP 6.6.1 (#5743)
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

fix: do not load ES when WP is being installed
  search/search.php
Due: phplint, vendor/bin/phpcs

fix: do not load ES when WP is being installed (#5744)
  search/search.php
Due: phplint, vendor/bin/phpcs

test: fix failing E2E search tests
  tests/search/e2e/integration/features/related-posts.spec.js
  tests/search/e2e/support/commands/block-editor.js
Due: none

ci: update paths to artifacts
  .github/workflows/search-e2e.yml
Due: none

test: fix failing E2E search tests (#5745)
  .github/workflows/search-e2e.yml
  tests/search/e2e/integration/features/related-posts.spec.js
  tests/search/e2e/support/commands/block-editor.js
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update ci.yml (#5749)
  .github/workflows/ci.yml
Due: none

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

Add filter to `wp_parsely_current_user_can_use_pch_feature` to allow `vip_support` users to access PCH
  vip-parsely/vip-parsely.php
Due: phplint, vendor/bin/phpcs

Fix linting
  vip-parsely/vip-parsely.php
Due: phplint, vendor/bin/phpcs

Change filter priority to 999
  vip-parsely/vip-parsely.php
Due: phplint, vendor/bin/phpcs
