Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

Add extra protections around wp_load_alloptions() (#4711)
  001-core.php
  001-core/options-api.php
Due: phplint, vendor/bin/phpcs

Temporarily disable Jetpack AI Assistant extension
  jetpack.php
Due: phplint, vendor/bin/phpcs

Add additional alloptions mitigations for < WP 6.2
  drop-ins/wp-memcached/includes/wp-object-cache.php
Due: phplint, vendor/bin/phpcs

Add additional alloptions mitigations for < WP 6.2 (#4725)
  drop-ins/wp-memcached/includes/wp-object-cache.php
Due: phplint, vendor/bin/phpcs

test: increase timeout for E2E tests
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

test: increase timeout for E2E tests (#4726)
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

Revert "test: increase timeout for E2E tests (#4726)"
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

Revert "test: increase timeout for E2E tests (#4726)" (#4727)
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

test: increase timeout for E2E tests
  __tests__/e2e/playwright.config.ts
  tests/search/e2e/integration/indexables/user.spec.js
Due: npm run lint-e2e

test: increase timeout for E2E tests (#4728)
  __tests__/e2e/playwright.config.ts
  tests/search/e2e/integration/indexables/user.spec.js
Due: npm run lint-e2e

test: fix search E2E tests
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/integration/indexables/user.spec.js
Due: none

Flip add_filter args in pre_wp_load_alloptions
  001-core/options-api.php
Due: phplint, vendor/bin/phpcs

Reduce the batch size to from 1000 to 500 and add the object count to the log entry. Limit to 1 queue processor job on non-prods
  search/includes/classes/class-queue.php
  search/includes/classes/queue/class-cron.php
Due: phplint, vendor/bin/phpcs

Fix tests by explicitly defining VIP_GO_ENV to production in test
  tests/search/includes/classes/queue/test-class-cron.php
Due: phplint, vendor/bin/phpcs

Add a full queue namespace in constants mocker + lint
  tests/mock-constants.php
Due: phplint, vendor/bin/phpcs

test: fix search E2E tests (#4729)
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/integration/indexables/user.spec.js
Due: none

The struggle is real
  tests/search/includes/classes/queue/test-class-cron.php
Due: phplint, vendor/bin/phpcs

Flip add_filter args in pre_wp_load_alloptions (#4730)
  001-core/options-api.php
Due: phplint, vendor/bin/phpcs

Address feedback: fix add_action/add_filter confusion and move to vip-jetpack.php as a more appropriate place
  jetpack.php
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Only disable Assistant extension for machine user owned connections
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

only run on admin requests
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Backport alloptions fallback mitigation
  drop-ins/wp-memcached/includes/wp-object-cache.php
Due: phplint, vendor/bin/phpcs

Backport alloptions fallback mitigation (#4734)
  drop-ins/wp-memcached/includes/wp-object-cache.php
Due: phplint, vendor/bin/phpcs

Temporarily disable Jetpack AI Assistant extension (#4722)
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Production release: v20230801.0 (#4735)
  .github/workflows/changelog-summary-prod.yml
  .github/workflows/changelog-summary-staging.yml
  001-core.php
  001-core/options-api.php
  README.md
  ci/changelog-summary.php
  performance/vip-tweaks.php
  qm-plugins/qm-object-cache/collectors/class-qm-collector-object-cache-group-stats.php
  qm-plugins/qm-object-cache/html/class-qm-output-html-object-cache-group-stats.php
  qm-plugins/qm-object-cache/qm-object-cache.php
  vip-helpers/class-vip-backup-user-role-cli.php
Due: phplint, vendor/bin/phpcs

Force QM when we should enable Search Dev Tools
  search/search-dev-tools/search-dev-tools.php
Due: phplint, vendor/bin/phpcs

lint
  search/search-dev-tools/search-dev-tools.php
Due: phplint, vendor/bin/phpcs

Staging release: v20230801.1 (#4736)
  .github/workflows/changelog-summary-prod.yml
  .github/workflows/changelog-summary-staging.yml
  .github/workflows/lint.yml
  001-core/options-api.php
  __tests__/e2e/package-lock.json
  __tests__/e2e/playwright.config.ts
  composer.json
  composer.lock
  drop-ins/wp-memcached/includes/wp-object-cache.php
  package-lock.json
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/integration/indexables/user.spec.js
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

fix: deprecation warnings
  search/includes/classes/class-queue.php
  tests/search/includes/classes/queue/test-class-cron.php
Due: phplint, vendor/bin/phpcs

Set the global version to 12.4
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Bump plugin header version to 12.4
  jetpack.php
Due: phplint, vendor/bin/phpcs

Set globally loaded version of Jetpack to 12.4 and update submodule (#4738)
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Trigger warning for alloptions fallback cache
  001-core/options-api.php
Due: phplint, vendor/bin/phpcs

Trigger warning for alloptions fallback cache (#4740)
  001-core/options-api.php
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
