Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

➕ ADDS: multi config integrations test
  integrations/integration.php
  tests/integrations/fake-multi-config-integration.php
  tests/integrations/test-integration.php
Due: phplint, vendor/bin/phpcs

Jetpack: Update to 13.5
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Jetpack: Update to 13.5 (#5648)
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

CI: Fix Search e2e WC tests with WP 6.6
  tests/search/e2e/integration/features/woocommerce.spec.js
Due: none

👌 IMPROVE: variable name
  integrations/integration.php
  tests/integrations/fake-multi-config-integration.php
  tests/integrations/test-integration.php
Due: phplint, vendor/bin/phpcs

👌 IMPROVE: comments
  integrations/integration.php
  tests/integrations/fake-multi-config-integration.php
Due: phplint, vendor/bin/phpcs

👌 IMPROVE: comments
  integrations/integration.php
Due: phplint, vendor/bin/phpcs

➕ ADDS: DataSourceIntegration
  integrations/integration.php
  integrations/vip-composable-blocks.php
  integrations/vip-composable-blocks/airtable.php
  integrations/vip-composable-blocks/shopify.php
Due: phplint, vendor/bin/phpcs

💫 UPDATE: composable blocks plugin version
  integrations/vip-composable-blocks.php
Due: phplint, vendor/bin/phpcs

CI: Fix Search e2e WC tests with WP 6.6 (#5662)
  tests/search/e2e/integration/features/woocommerce.spec.js
Due: none

chore(deps): lock file maintenance
  search/search-dev-tools/package-lock.json
Due: none

chore(deps): update search-dev-tools dependencies + lock file maintenance (#5663)
  search/search-dev-tools/package-lock.json
Due: none

FS: Fix image request being broken up by file name
  files/class-vip-filesystem.php
Due: phplint, vendor/bin/phpcs

FS: Fix image request being broken up by file name (#5664)
  files/class-vip-filesystem.php
Due: phplint, vendor/bin/phpcs

Add WP 6.4 versions to CI
  .github/workflows/ci.yml
Due: none

Add WP 6.4 versions to CI (#5669)
  .github/workflows/ci.yml
Due: none

Revert "Run unit tests under x86 platform with docker (#5647)"
  bin/test.sh
Due: none

fix(vip-helpers): add checks to `is_automattician()`
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

fix(vip-helpers): add checks to `is_automattician()` (#5678)
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Revert "Run unit tests under x86 platform with docker (#5647)" (#5677)
  bin/test.sh
Due: none

Add QM Panel to display info about js/css concatenation
  qm-plugins/qm-vip-concat/class-qm-collector-vip-concat.php
  qm-plugins/qm-vip-concat/class-qm-output-vip-concat.php
  qm-plugins/qm-vip-concat/qm-vip-concat.php
  qm-plugins/qm-vip-concat/readme.md
  query-monitor.php
Due: phplint, vendor/bin/phpcs

phpcs fixes
  qm-plugins/qm-vip-concat/class-qm-collector-vip-concat.php
  qm-plugins/qm-vip-concat/class-qm-output-vip-concat.php
  qm-plugins/qm-vip-concat/qm-vip-concat.php
Due: phplint, vendor/bin/phpcs

style: fix issues found by ESLint
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
Due: npm run lint-e2e

check class exists
  qm-plugins/qm-vip-concat/qm-vip-concat.php
Due: phplint, vendor/bin/phpcs

Use post ID instead of object
  files/acl/restrict-unpublished-files.php
Due: phplint, vendor/bin/phpcs

Use post ID instead of object (#5695)
  files/acl/restrict-unpublished-files.php
Due: phplint, vendor/bin/phpcs

FS: Change indicated upload size limit to be actual value of 2GB
  a8c-files.php
Due: phplint, vendor/bin/phpcs

FS: Change indicated upload size limit to be actual value of 2GB (#5696)
  a8c-files.php
Due: phplint, vendor/bin/phpcs

wp-parsely: Add and sets the default version to 3.16
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

wp-parsely: Add and sets the default version to 3.16 (#5698)
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

Disable Divi caching (#5597)
  plugin-fixes.php
  tests/test-divi-compatibility.php
Due: phplint, vendor/bin/phpcs

Prevent enabling debug mode on local env
  000-debug/debug-mode.php
Due: phplint, vendor/bin/phpcs

Do changes suggested
  000-debug/debug-mode.php
Due: phplint, vendor/bin/phpcs
