Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

fix(vip-helpers): Work around another Yoast bug
  vip-helpers/vip-debug-bar-panels.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

fix(vip-helpers): Work around another Yoast bug (#3849)
  vip-helpers/vip-debug-bar-panels.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

CI Observability: Integrate ForeSight to tests phases of CI (#3852)
  .github/workflows/e2e.yml
  .github/workflows/search-e2e.yml
  .lintstagedrc
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

fix(files): `touch()` should fail if `fclose()` fails
  files/class-vip-filesystem-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

Report errors from stream_close(); work around buggy fclose()
  files/class-vip-filesystem-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

Add tests
  tests/files/test-vip-filesystem-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

fix(files): Clear stats cache when upload of an empty file fails
  files/class-vip-filesystem-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

Address code review comments
  files/class-vip-filesystem-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

fix(files): `touch()` should fail if `fclose()` fails (#3853)
  files/class-vip-filesystem-stream-wrapper.php
  tests/files/test-vip-filesystem-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

fix(files): Clear stats cache when upload of an empty file fails (#3865)
  files/class-vip-filesystem-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

Improved version coverage & support newer method of building post metadata
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

wp-parsely: fix integration tests.
  bin/test.sh
  tests/bootstrap.php
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

lint fixes
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

Fix wp-parsely integration tests (#3845)
  bin/test.sh
  tests/bootstrap.php
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

Update: Indentation fix and removal of file that is no longer required
  tests/search/e2e/config.json
  tests/search/e2e/cypress.config.js
Due: none

Update cypress.config.js
  tests/search/e2e/cypress.config.js
Due: none

Update Cypress reporters for ForeSight Integration (#3868)
  .github/workflows/search-e2e.yml
  package-lock.json
  package.json
  tests/search/e2e/config.json
  tests/search/e2e/cypress-reporter-config.json
  tests/search/e2e/cypress.config.js
Due: none

Update e2e.yml
  .github/workflows/e2e.yml
Due: none

Update tag-release.yml
  .github/workflows/tag-release.yml
Due: none

Update dependency-review.yml
  .github/workflows/dependency-review.yml
Due: none

Update changelog-summary.yml
  .github/workflows/changelog-summary.yml
Due: none

Update lint.yml
  .github/workflows/lint.yml
Due: none

Upgrade default Jetpack to 11.5
  jetpack.php
Due: phplint, vendor/bin/phpcs

Update to use minimum 6.0
  jetpack.php
Due: phplint, vendor/bin/phpcs

Update Jetpack to 11.5 (#3875)
  jetpack.php
Due: phplint, vendor/bin/phpcs

ci: Fix coverage generation
  .github/workflows/ci.yml
Due: none

ci: Fix coverage generation (#3873)
  .github/workflows/ci.yml
Due: none

Estimate attachment filesize
  files/class-image.php
Due: phplint, vendor/bin/phpcs

Adjust tests
  files/class-image.php
  tests/files/test-image-sizes.php
  tests/files/test-image.php
Due: phplint, vendor/bin/phpcs

Check earlier if display-name is set
  vip-support/class-vip-support-cli.php
Due: phplint, vendor/bin/phpcs

Update class-vip-support-cli.php
  vip-support/class-vip-support-cli.php
Due: phplint, vendor/bin/phpcs

wp-parsely: Alter plugin version and test mode at test time
  .github/workflows/parsely.yml
  bin/test.sh
  tests/bootstrap.php
  tests/parsely/test-mu-parsely-integration.php
  wp-parsely.php
Due: phplint, vendor/bin/phpcs
