Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

Update HyperDB for mysqli_ping() deprecation
  tests/test-hyperdb.php
Due: phplint, vendor/bin/phpcs

QM 4 compat in the compacted-header plugin
  qm-plugins/qm-limited-header-php-errors/output/headers/php-errors.php
Due: phplint, vendor/bin/phpcs

RTC: Use gutenberg-0.2-20260414 build
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

RTC: Use gutenberg-0.2-20260414 build (#6917)
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Bump current Jetpack to 15.7, update the header and remove old version conditionals
  jetpack.php
Due: phplint, vendor/bin/phpcs

Update tests
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

QM 4 compat in the compacted-header plugin (#6907)
  qm-plugins/qm-limited-header-php-errors/output/headers/php-errors.php
Due: phplint, vendor/bin/phpcs

chore: update query-monitor to 4.0.6
  query-monitor/assets/build/query-monitor.css
  query-monitor/assets/build/query-monitor.js
  query-monitor/classes/ArrayAccess.php
  query-monitor/classes/Collector.php
  query-monitor/classes/Collector_Assets.php
  query-monitor/classes/Data.php
  query-monitor/classes/Util.php
  query-monitor/data/block_editor/post_block.php
  query-monitor/data/callback.php
  query-monitor/data/callsite.php
  query-monitor/data/frame.php
  query-monitor/data/http/http_request.php
  query-monitor/data/http/http_response.php
  query-monitor/data/php_error.php
  query-monitor/dispatchers/AJAX.php
  query-monitor/dispatchers/Html.php
  query-monitor/dispatchers/REST.php
  query-monitor/output/Headers.php
  query-monitor/output/headers/php_errors.php
  query-monitor/output/html/assets.php
  query-monitor/output/html/db_callers.php
  query-monitor/output/html/db_components.php
  query-monitor/output/html/db_dupes.php
  query-monitor/output/html/db_queries.php
  query-monitor/output/html/headers.php
  query-monitor/query-monitor.php
  query-monitor/readme.txt
  query-monitor/vendor/composer/autoload_static.php
  query-monitor/vendor/composer/installed.php
  query-monitor/wp-content/db.php
Due: phplint, vendor/bin/phpcs

chore: update query-monitor to 4.0.6 (#6922)
  query-monitor/assets/build/query-monitor.css
  query-monitor/assets/build/query-monitor.js
  query-monitor/classes/ArrayAccess.php
  query-monitor/classes/Collector.php
  query-monitor/classes/Collector_Assets.php
  query-monitor/classes/Data.php
  query-monitor/classes/Util.php
  query-monitor/data/block_editor/post_block.php
  query-monitor/data/callback.php
  query-monitor/data/callsite.php
  query-monitor/data/frame.php
  query-monitor/data/http/http_request.php
  query-monitor/data/http/http_response.php
  query-monitor/data/php_error.php
  query-monitor/dispatchers/AJAX.php
  query-monitor/dispatchers/Html.php
  query-monitor/dispatchers/REST.php
  query-monitor/output/Headers.php
  query-monitor/output/headers/php_errors.php
  query-monitor/output/html/assets.php
  query-monitor/output/html/db_callers.php
  query-monitor/output/html/db_components.php
  query-monitor/output/html/db_dupes.php
  query-monitor/output/html/db_queries.php
  query-monitor/output/html/headers.php
  query-monitor/query-monitor.php
  query-monitor/readme.txt
  query-monitor/vendor/composer/autoload_static.php
  query-monitor/vendor/composer/installed.php
  query-monitor/wp-content/db.php
Due: phplint, vendor/bin/phpcs

chore: update query-monitor to 4.0.6 (#6922) (#6923)
  query-monitor/assets/build/query-monitor.css
  query-monitor/assets/build/query-monitor.js
  query-monitor/classes/ArrayAccess.php
  query-monitor/classes/Collector.php
  query-monitor/classes/Collector_Assets.php
  query-monitor/classes/Data.php
  query-monitor/classes/Util.php
  query-monitor/data/block_editor/post_block.php
  query-monitor/data/callback.php
  query-monitor/data/callsite.php
  query-monitor/data/frame.php
  query-monitor/data/http/http_request.php
  query-monitor/data/http/http_response.php
  query-monitor/data/php_error.php
  query-monitor/dispatchers/AJAX.php
  query-monitor/dispatchers/Html.php
  query-monitor/dispatchers/REST.php
  query-monitor/output/Headers.php
  query-monitor/output/headers/php_errors.php
  query-monitor/output/html/assets.php
  query-monitor/output/html/db_callers.php
  query-monitor/output/html/db_components.php
  query-monitor/output/html/db_dupes.php
  query-monitor/output/html/db_queries.php
  query-monitor/output/html/headers.php
  query-monitor/query-monitor.php
  query-monitor/readme.txt
  query-monitor/vendor/composer/autoload_static.php
  query-monitor/vendor/composer/installed.php
  query-monitor/wp-content/db.php
Due: phplint, vendor/bin/phpcs

ci: add test timeouts
  .github/workflows/ci.yml
  .github/workflows/core-tests.yml
  .github/workflows/parsely.yml
Due: none

Rename hooks
  vip-cache-manager/vip-cache-manager.php
Due: phplint, vendor/bin/phpcs

ci: add test timeouts (#6924)
  .github/workflows/ci.yml
  .github/workflows/core-tests.yml
  .github/workflows/parsely.yml
Due: none

Apply suggestion from @Copilot
  files/class-vip-filesystem-local-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

Apply suggestion from @rinatkhaziev
  files/class-vip-filesystem-local-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

Add filename-substring matching for local stream wrapper file rules (#6820)
  files/class-vip-filesystem-local-stream-wrapper.php
  tests/files/test-vip-filesystem-local-stream-wrapper.php
Due: phplint, vendor/bin/phpcs

fix: update `tsconfig.json` for TS6
  __tests__/e2e/tsconfig.json
Due: none

chore: bump all dependencies
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
Due: none

fix: use `:text-is` to match sidebar menu items
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
Due: npm run lint-e2e

fix: ESLint warnings
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
Due: npm run lint-e2e

refactor: further tweak tsconfig
  __tests__/e2e/tsconfig.json
Due: none

fix: use more strict selectors
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
Due: npm run lint-e2e

fix: missing space
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
Due: npm run lint-e2e

fix(wp-cli): correct --skip-confirm docblock format for vip cache purge
  wp-cli/vip-cache.php
Due: phplint, vendor/bin/phpcs

Remove async scheduler action registration (#6951)
  wp-cli.php
Due: phplint, vendor/bin/phpcs

VIP_Request_Block: Only log once every 5 minutes for invalid IPs passed
  lib/class-vip-request-block.php
Due: phplint, vendor/bin/phpcs

docs: large media upload warning — spec and implementation plan
  docs/superpowers/plans/2026-05-13-large-media-upload-warning.md
  docs/superpowers/specs/2026-05-13-large-media-upload-warning-design.md
Due: none

feat(large-media-warning): scaffold module with killswitch and config
  large-media-upload-warning.php
  large-media-upload-warning/class-large-media-upload-warning.php
  tests/bootstrap.php
  tests/test-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs

fixup(large-media-warning): use Constant_Mocker + repo header style
  large-media-upload-warning.php
  large-media-upload-warning/class-large-media-upload-warning.php
  tests/mock-constants.php
  tests/test-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs

feat(large-media-warning): observe-only telemetry filter
  large-media-upload-warning.php
  large-media-upload-warning/class-large-media-upload-warning.php
  tests/test-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs

fixup(large-media-warning): correct test seam callback signature
  tests/test-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs

fixup(large-media-warning): rename filter to pre_* + throw-path test
  large-media-upload-warning/class-large-media-upload-warning.php
  tests/test-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs

feat(large-media-warning): shared confirm dialog helper
  large-media-upload-warning.php
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/shared-confirm.js
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
