Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

Disable crawling for VIP convenience domains (#5129)
  001-core/privacy.php
Due: phplint, vendor/bin/phpcs

CANTINA-995: Disable crawling for VIP convenience domains
  001-core/privacy.php
Due: phplint, vendor/bin/phpcs

Add helper function is_vip_convenience_domain
  001-core/privacy.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Update uses in codebase
  000-vip-init.php
  a8c-files.php
  blogpublic-notice.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Add test
  tests/vip-helpers/vip-utils/test-vip-utils-is-vip-convenience-domain.php
Due: phplint, vendor/bin/phpcs

Deprecate `wp_startswith`, `wp_endswith` & `wp_in` in favour of the new PHP 8 functions
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Fix uses of `wp_startswith` to `str_starts_with`
  search/includes/classes/class-search.php
  search/search-dev-tools/search-dev-tools.php
  wp-cli.php
Due: phplint, vendor/bin/phpcs

Update `wp_endswith` uses to `str_ends_with`
  jetpack.php
  logstash/class-logger.php
  search/includes/classes/class-search.php
  search/search-dev-tools/search-dev-tools.php
  vaultpress.php
Due: phplint, vendor/bin/phpcs

Update vip-helpers/vip-utils.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Feedback: Remove excess `strtolower()` call in `vip_convenience_domain_robots_txt()`
  001-core/privacy.php
Due: phplint, vendor/bin/phpcs

Feedback: Remove unnecessary empty string value check in `is_vip_convenience_domain`
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Feedback: Remove extra return
  001-core/privacy.php
Due: phplint, vendor/bin/phpcs

Add VIP helper function `is_vip_convenience_domain`
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Add VIP helper function `is_vip_convenience_domain` (#5132)
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Use unique file name provided by VIP files service. (#5102)
  files/class-vip-filesystem.php
  tests/files/test-vip-filesystem.php
Due: phplint, vendor/bin/phpcs

Update the 2fa messaging generic for different scenarios like 2fa forced for all users on the site
  two-factor.php
Due: phplint, vendor/bin/phpcs

Use VIP's SMTP server for sending emails
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Update two-factor.php
  two-factor.php
Due: phplint, vendor/bin/phpcs

Update the text for 2FA button
  two-factor.php
Due: phplint, vendor/bin/phpcs

BB8-10943: Update the 2FA messaging generic for different scenarios (#5133)
  two-factor.php
Due: phplint, vendor/bin/phpcs

Add helper function `is_vip_convenience_domain()` (#5130)
  000-vip-init.php
  001-core/privacy.php
  a8c-files.php
  blogpublic-notice.php
  tests/vip-helpers/vip-utils/test-vip-utils-is-vip-convenience-domain.php
Due: phplint, vendor/bin/phpcs

Remove deprecation notices for user
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Update vip-jetpack/vip-jetpack.php
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Jetpack: Update default to 13.0
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Bump composer.json to PHP 8.2
  composer.json
Due: none

Bump composer.json to PHP 8.2 (#5143)
  composer.json
Due: none

Add flag VIP_SMTP_ENABLED to handle safe migration to new SMTP server
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Jetpack: Update default to 13.0 (#5142)
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

style: fix lint issues
  vip-mail.php
Due: phplint, vendor/bin/phpcs

chore: downgrade platform.php to 8.0
  composer.json
  composer.lock
Due: none

ci: update workflows
  .github/workflows/changelog-summary-prod.yml
  .github/workflows/changelog-summary-staging.yml
  .github/workflows/lint.yml
Due: none

style: fix linting issues
  tests/vip-helpers/vip-utils/test-vip-utils-remote-requests.php
Due: phplint, vendor/bin/phpcs

chore: downgrade `platform.php` in `composer.json` to 8.0 (#5146)
  .github/workflows/changelog-summary-prod.yml
  .github/workflows/changelog-summary-staging.yml
  .github/workflows/lint.yml
  composer.json
  composer.lock
  tests/vip-helpers/vip-utils/test-vip-utils-remote-requests.php
Due: phplint, vendor/bin/phpcs

test: fix flaky E2E tests, properly set up linting, fix code
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/lib/asana-pharse.d.ts
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/data-helper.ts
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/lib/playwright-helpers.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
  __tests__/e2e/playwright.config.ts
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
  __tests__/e2e/tsconfig.json
Due: npm run lint-e2e

ci: update workflows
  .github/workflows/e2e.yml
  __tests__/e2e/package.json
Due: none

chore: update .sonarcloud.properties
  .sonarcloud.properties
Due: none

fix: add missing @types/node
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
