Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

diag(large-media-warning): log onChangeCapture entry + state to debug repeat-pick issue
  large-media-upload-warning/js/upload-interceptor.js
Due: none

fix(large-media-warning): use collection.remove only (no destroy) on cancel cleanup
  large-media-upload-warning/js/upload-interceptor.js
Due: none

fix(large-media-warning): plupload.removeFile in XHR cancel so the queue unwedges
  large-media-upload-warning/class-large-media-upload-warning.php
  large-media-upload-warning/js/plupload-tracker.js
  large-media-upload-warning/js/upload-interceptor.js
Due: phplint, vendor/bin/phpcs

fix(large-media-warning): clean wp.Uploader.queue so the cancel UI fully clears
  large-media-upload-warning/js/upload-interceptor.js
Due: none

fix(large-media-warning): clean media-new.php's #media-item tile on cancel
  large-media-upload-warning/js/upload-interceptor.js
Due: none

test(e2e): re-skip Gutenberg image-block cases; not an interceptor issue
  __tests__/e2e/specs/large_media_warning.spec.ts
  large-media-upload-warning/README.md
Due: npm run lint-e2e

Delete docs/superpowers/specs/2026-05-13-large-media-upload-warning-design.md
  docs/superpowers/specs/2026-05-13-large-media-upload-warning-design.md
Due: none

docs(large-media-warning): bring README in line with shipped architecture
  large-media-upload-warning/README.md
Due: none

refactor(large-media-warning): address SonarCloud code-quality flags
  large-media-upload-warning/js/plupload-tracker.js
  large-media-upload-warning/js/upload-interceptor.js
Due: none

copy(large-media-warning): soften dialog message to match the actual risk
  large-media-upload-warning/js/shared-confirm.js
Due: none

chore: drop superpowers plan doc from repo
  docs/superpowers/plans/2026-05-13-large-media-upload-warning.md
Due: none

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

VIP_Request_Block: Only log once every 5 minutes for invalid IPs passed (#6955)
  lib/class-vip-request-block.php
Due: phplint, vendor/bin/phpcs

feat(core): override OPCache debug info in Site Health for VIP
  001-core.php
Due: phplint, vendor/bin/phpcs

Update RTC to gutenberg-0.2-20260519
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Update RTC to gutenberg-0.2-20260519 (#6970)
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Only apply the custom OPCache message in Site Health on WP 7.0+, where the debug_information filter structure is expected.
  001-core.php
Due: phplint, vendor/bin/phpcs

fix(opcache): override OPCache debug info in Site Health for VIP (#6969)
  001-core.php
Due: phplint, vendor/bin/phpcs

Production release: v20260519.0 (#6972)
  .github/workflows/dependency-review.yml
  .github/workflows/e2e.yml
  .github/workflows/release-prod.yml
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
  __tests__/e2e/tsconfig.json
  search/search-dev-tools/package-lock.json
  wp-cli.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

Staging release: v20260519.1 (#6971)
  .github/actions/run-wp-tests/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/core-tests.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-staging.yml
  001-core.php
  __tests__/e2e/package-lock.json
  integrations/real-time-collaboration.php
  lib/class-vip-request-block.php
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
Due: phplint, vendor/bin/phpcs

Update RTC to gutenberg-0.2-20260520
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Update RTC to gutenberg-0.2-20260520 (#6975)
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Fix e2e tests w/ WP 7.0 updates
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

feedback
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

Tests: Remove WP 6.4 from matrix
  .github/copilot-instructions.md
  .github/workflows/ci.yml
Due: none

(tests) WP 7.0: Fix e2e tests (#6977)
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

Tests: Remove WP 6.4 from matrix (#6978)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
Due: none

CI: Automatically create MU plugin release PRs
  .github/workflows/weekly-release-prs.yml
Due: none

Add manual step
  .github/workflows/weekly-release-prs.yml
Due: none

chore: pin third-party GitHub Actions to SHAs + enable Dependabot
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: pin third-party GitHub Actions to SHAs + enable Dependabot (#6995)
  .github/workflows/copilot-setup-steps.yml
Due: none

Add Safe Publish VIP integration loader
  integrations/safe-publish.php
  tests/integrations/test-safe-publish.php
  vip-integrations.php
Due: phplint, vendor/bin/phpcs

Update RTC integration version constants
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Helper function: Add vip_get_device_class (#6957)
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

Update RTC integration version constants (#6980)
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Ignore superpowers
  .gitignore
Due: none

test(large-media-warning): clear all module filters in tearDown
  tests/test-large-media-upload-warning.php
Due: phplint, vendor/bin/phpcs
