Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

ACL: Default to restricting all on non-prod if ACL is enabled but no options are set (#5796)
  files/acl/acl.php
  tests/files/acl/test-acl.php
Due: phplint, vendor/bin/phpcs

Remove activate tracking method
  telemetry/class-telemetry-system.php
  telemetry/tracks/class-tracks.php
  tests/telemetry/tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Log errors to logstash
  telemetry/tracks/class-tracks-client.php
  telemetry/tracks/class-tracks-event.php
Due: phplint, vendor/bin/phpcs

Use tracks batch record API for async recording
  telemetry/tracks/class-tracks-client.php
Due: phplint, vendor/bin/phpcs

Update fix-block-img-tag-sizes.php
  fix-block-img-tag-sizes.php
Due: phplint, vendor/bin/phpcs

👌 IMPROVE: PHPDocs
  integrations/integration.php
  integrations/vip-integrations-config.php
  tests/integrations/test-integration.php
Due: phplint, vendor/bin/phpcs

🐛 FIX: sonar cloud issue
  integrations/vip-integrations-config.php
  tests/integrations/test-integrations.php
Due: phplint, vendor/bin/phpcs

👌 IMPROVE: comment
  integrations/integration.php
  tests/integrations/test-vip-integrations-config.php
Due: phplint, vendor/bin/phpcs

👌 IMPROVE: constant in is_loaded
  integrations/vip-composable-blocks.php
Due: phplint, vendor/bin/phpcs

Use support user class to check for VIP users
  telemetry/tracks/class-tracks-event.php
Due: phplint, vendor/bin/phpcs

Use hashed email as event user ID
  telemetry/tracks/class-tracks-event.php
  tests/telemetry/tracks/test-class-tracks-event.php
Due: phplint, vendor/bin/phpcs

When we filter image_downsize, we miss the medium_large default reserved image size
  a8c-files.php
Due: phplint, vendor/bin/phpcs

When we filter image_downsize, we miss the medium_large default reserved image size (#5798)
  a8c-files.php
Due: phplint, vendor/bin/phpcs

test(e2e): add generic checks (#5769)
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/playwright-helpers.ts
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
  __tests__/e2e/specs/generic.spec.ts
Due: npm run lint-e2e

Search e2e: (woo) wait for tasks bar to show up before proceeding with rest of tests
  tests/search/e2e/integration/features/woocommerce.spec.js
Due: none

Search e2e: (woo) wait for tasks bar to show up before proceeding with rest of tests (#5800)
  tests/search/e2e/integration/features/woocommerce.spec.js
Due: none

chore: lock file maintenance
  __tests__/e2e/package-lock.json
Due: none

🐛 FIX: tests
  tests/integrations/test-integration.php
  tests/integrations/test-integrations.php
  tests/integrations/test-vip-integrations-config.php
Due: phplint, vendor/bin/phpcs

🔨 REFACTOR: rename VIPComposableBlocks to RemoteDataBlocks
  integrations/remote-data-blocks.php
  vip-integrations.php
Due: phplint, vendor/bin/phpcs

🐛 FIX: test
  tests/integrations/test-integration.php
Due: phplint, vendor/bin/phpcs

➕ ADDS: tests for Remote Data Blocks integration
  integrations/remote-data-blocks.php
  tests/integrations/test-remote-data-blocks.php
Due: phplint, vendor/bin/phpcs

chore: lock file maintenance (#5808)
  __tests__/e2e/package-lock.json
Due: none

Jetpack: Set 13.7 as default
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Account for min version bump
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Jetpack: Set 13.7 as default (for WP 6.5+) (#5809)
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

Require the telemetry files
  000-vip-init.php
Due: phplint, vendor/bin/phpcs

Update Jetpack Content Distribution Link
  blogpublic-notice.php
Due: phplint, vendor/bin/phpcs

Update Jetpack Content Distribution Link (#5813)
  blogpublic-notice.php
Due: phplint, vendor/bin/phpcs

🐛 FIX: ConfigMap example
  integrations/vip-integrations-config.php
Due: phplint, vendor/bin/phpcs

Remove debug code
  000-vip-init.php
Due: phplint, vendor/bin/phpcs

Fix failing tests
  tests/telemetry/tracks/test-class-tracks-event.php
  tests/telemetry/tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Add readme
  telemetry/README.md
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
