Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

chore: update .sonarcloud.properties
  .sonarcloud.properties
Due: none

fix: catch statements
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

fix: run "wp core update-db" after WordPress installation
  __tests__/e2e/bin/setup-env.sh
Due: none

fix: provide `SpeedUp_Isolated_WP_Tests` for PHPUnit 10
  tests/bootstrap.php
  tests/class-speedup-isolated-wp-tests-old.php
  tests/class-speedup-isolated-wp-tests.php
Due: phplint, vendor/bin/phpcs

Add VIP SMTP related tests
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

test: fix flaky E2E tests, properly set up linting, fix code (#5147)
  .github/workflows/e2e.yml
  .sonarcloud.properties
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/asana-pharse.d.ts
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/data-helper.ts
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/lib/playwright-helpers.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
  __tests__/e2e/playwright.config.ts
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
  __tests__/e2e/tsconfig.json
Due: npm run lint-e2e

PIE-3814 Put Jetpack in offline mode when we're launching a site in the network (#5037)
  tests/test-vip-jetpack.php
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Attempt to resend mail from unmapped domains
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Fix `Caught Error: Class "Two_Factor_Core" not found in /var/www/wp-content/mu-plugins/prometheus-collectors/class-user-stats-collector.php:71`
  prometheus-collectors/class-user-stats-collector.php
Due: phplint, vendor/bin/phpcs

Add moar defensive checks because Rinat is paranoid
  prometheus-collectors/class-user-stats-collector.php
Due: phplint, vendor/bin/phpcs

Fix `Caught Error: Class "Two_Factor_Core" not found in /var/www/wp-content/mu-plugins/prometheus-collectors/class-user-stats-collector.php:71` (#5154)
  prometheus-collectors/class-user-stats-collector.php
Due: phplint, vendor/bin/phpcs

FORNO-1751: Update mu-plugins to use new smtp (#5144)
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.css
Due: none

chore: update Dependabot configuration
  .github/dependabot.yml
Due: none

chore: update Dependabot configuration (#5166)
  .github/dependabot.yml
Due: none

Jetpack: Update default to 13.0 (#5142)
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

test(e2e): fix Unexpected use of page.waitForSelector()
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
Due: npm run lint-e2e

test(e2e): fix Unexpected use of page.waitForSelector() (#5173)
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
Due: npm run lint-e2e

Fix format output for `wp vip alloptions`
  wp-cli/alloptions.php
Due: phplint, vendor/bin/phpcs

Add tests related to unmapped domains
  tests/test-vip-mail.php
Due: phplint, vendor/bin/phpcs

Add smtp port and smtp auth configuration
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Add and set wp-parsely 3.13 as the default version
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

Add and set wp-parsely 3.13 as the default version (#5176)
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

Add smtp port and smtp auth configuration (#5175)
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Add test cases for handling mail failures related to sender address getting rejected at SMTP side
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Update the smtp message for which we are doing validation
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Go for 100% code coverage
  tests/performance/test-class-media-library-caching.php
Due: phplint, vendor/bin/phpcs

Make the max posts to query filterable
  performance/class-media-library-caching.php
Due: phplint, vendor/bin/phpcs

Do not invalidate cache if using defaults
  performance/class-media-library-caching.php
  tests/performance/test-class-media-library-caching.php
Due: phplint, vendor/bin/phpcs

Update comments
  performance/class-mime-types-caching.php
  tests/performance/test-class-mime-types-caching.php
Due: phplint, vendor/bin/phpcs

Refactor media library cachingg class so it can be called later and have filters
  performance/class-media-library-caching.php
Due: phplint, vendor/bin/phpcs

Move to performance folder
  000-vip-init.php
  performance.php
  performance/class-media-library-caching.php
Due: phplint, vendor/bin/phpcs

Rename and refactor
  performance.php
  performance/class-mime-types-caching.php
  performance/media.php
  tests/performance/test-class-mime-types-caching.php
Due: phplint, vendor/bin/phpcs

Simplify logic by only considering attachment post types
  performance/class-media-library-caching.php
Due: phplint, vendor/bin/phpcs

Use single cache key
  performance/class-mime-types-caching.php
  tests/performance/test-class-mime-types-caching.php
Due: phplint, vendor/bin/phpcs

Tests done! Do not force 6.4 overrides through code. Just skip older versions.
  tests/performance/test-class-media-library-caching.php
Due: phplint, vendor/bin/phpcs

Add initial test cases
  tests/performance/test-class-media-library-caching.php
Due: phplint, vendor/bin/phpcs

Require helper file
  000-vip-init.php
Due: phplint, vendor/bin/phpcs

Modify tearDown method visibility to avoid 5.8 tests errors
  tests/performance/test-class-media-library-caching.php
Due: phplint, vendor/bin/phpcs
