Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

feat(prometheus): add Filesystem_Stats_Collector upload-size metric
  prometheus-collectors/class-filesystem-stats-collector.php
  tests/prometheus-collectors/test-class-filesystem-stats-collector.php
Due: phplint, vendor/bin/phpcs

feat(prometheus): add per-request File Service read metrics
  prometheus-collectors/class-filesystem-stats-collector.php
  tests/prometheus-collectors/test-class-filesystem-stats-collector.php
Due: phplint, vendor/bin/phpcs

feat(prometheus): register Filesystem_Stats_Collector
  prometheus.php
  tests/prometheus-collectors/test-class-filesystem-stats-collector.php
Due: phplint, vendor/bin/phpcs

feat(files): record File Service I/O metrics from the stream wrapper
  files/class-vip-filesystem-local-stream-wrapper.php
  tests/prometheus-collectors/test-class-filesystem-stats-collector.php
Due: phplint, vendor/bin/phpcs

fix: PHP 8.5 test compat + address review feedback
  files/class-vip-filesystem-local-stream-wrapper.php
  prometheus-collectors/class-filesystem-stats-collector.php
  tests/prometheus-collectors/test-class-filesystem-stats-collector.php
Due: phplint, vendor/bin/phpcs

Update Jetpack to 15.9.1
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.css
Due: none

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

search: cap dynamic bulk request size and truncate oversized request logs
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Remove crufty async command scheduler from the olden age (#7061)
  wp-cli/class-async-scheduler-command.php
Due: phplint, vendor/bin/phpcs

Fix Jetpack release default version pin
  .github/scripts/update-jetpack-release.sh
  .github/workflows/create-jetpack-release-pr.yml
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

search: cap dynamic bulk request size and truncate oversized request logs (#7070)
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

integrations: load vip-wordpress-abilities plugin in MCP integration
  integrations/wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

integrations: load vip-wordpress-abilities plugin in MCP integration (#7073)
  integrations/wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

integrations: return a 401 REST error when MCP auth email has no user
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

Apply suggestions from code review
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

Apply suggestions from code review
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

integrations: return a 401 REST error when MCP auth email has no user (#7074)
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

integrations: fix MCP auth error never reaching the REST response
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

integrations: fix MCP auth error never reaching the REST response (#7075)
  integrations/wordpress-mcp.php
  tests/integrations/test-wordpress-mcp.php
Due: phplint, vendor/bin/phpcs

Update RTC integration version constants
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Update RTC integration version constants (#7079)
  integrations/real-time-collaboration.php
Due: phplint, vendor/bin/phpcs

Update Jetpack to 16.0
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

CI: Release PR - Handle empty scheduled release PRs gracefully
  .github/workflows/create-release-prs.yml
Due: none

Potential fix for pull request finding
  .github/workflows/create-release-prs.yml
Due: none

CI: Release PR - Handle empty scheduled release PRs gracefully (#7089)
  .github/workflows/create-release-prs.yml
Due: none

fix
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

Fix search dev tools Babel 8 config
  search/search-dev-tools/.babelrc.json
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Due: none

remove unused deps
  search/search-dev-tools/.babelrc.json
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Due: none

Remove unused e2e Babel decorators plugin
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
Due: none

Remove unused e2e Babel decorators plugin (#7091)
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
Due: none

Search Dev Tools: Remove unused dependencies
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Due: none

Search Dev Tools: Remove unused dependencies (#7092)
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Due: none

PLTFRM-1061] Respect theme.json layout widths for image resize
  a8c-files.php
  tests/files/test-a8c-files-image-resize.php
  tests/fixtures/themes/vip-theme-json-layout/style.css
  tests/fixtures/themes/vip-theme-json-layout/theme.json
Due: phplint, vendor/bin/phpcs

Update test-a8c-files-image-resize.php
  tests/files/test-a8c-files-image-resize.php
Due: phplint, vendor/bin/phpcs
