Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

Prototype 50x response interceptor
  5xx-interceptor.php
Due: phplint, vendor/bin/phpcs

chore: compatibility fixes for husky
  .husky/pre-commit
  package.json
Due: none

fix: docker-compose => docker compose
  package.json
Due: none

test: update tests
  security/login-error.php
  tests/security/test-login-error.php
Due: phplint, vendor/bin/phpcs

fix(security): user enumeration when resetting password
  security/login-error.php
Due: phplint, vendor/bin/phpcs

test: add E2E tests
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/lost-password-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/specs/security.spec.ts
Due: npm run lint-e2e

test: refactor navigation
  __tests__/e2e/lib/pages/lost-password-page.ts
Due: npm run lint-e2e

Add base telemetry and tracks classes
  telemetry/Tracks/class-tracks-client.php
  telemetry/Tracks/class-tracks-event.php
  telemetry/Tracks/class-tracks.php
  telemetry/class-telemetry-system.php
Due: phplint, vendor/bin/phpcs

Replace the use of `self` with `static`
  telemetry/Tracks/class-tracks-client.php
  telemetry/Tracks/class-tracks-event.php
Due: phplint, vendor/bin/phpcs

Create fix-block-img-tag-sizes.php
  fix-block-img-tag-sizes.php
Due: phplint, vendor/bin/phpcs

Update fix-block-img-tag-sizes.php
  fix-block-img-tag-sizes.php
Due: phplint, vendor/bin/phpcs

fix(security): user enumeration when resetting password (#5768)
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/lost-password-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/specs/security.spec.ts
  security/login-error.php
  tests/security/test-login-error.php
Due: phplint, vendor/bin/phpcs, npm run lint-e2e

test(e2e): add generic checks
  __tests__/e2e/specs/generic.spec.ts
Due: npm run lint-e2e

chore(dev-deps): remove dependency on `playwright`
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/playwright-helpers.ts
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
Due: npm run lint-e2e

test: add REST and XML-RPC smoke tests
  __tests__/e2e/specs/generic.spec.ts
Due: npm run lint-e2e

test(e2e): add tests for `login-error.php`
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/specs/security.spec.ts
Due: npm run lint-e2e

Change tracks client constructor to private
  telemetry/Tracks/class-tracks-client.php
Due: phplint, vendor/bin/phpcs

remove testing foobar
  fix-block-img-tag-sizes.php
Due: phplint, vendor/bin/phpcs

WP Parse.ly: Allow VIP Support to access PCH features (#5765)
  vip-parsely/vip-parsely.php
Due: phplint, vendor/bin/phpcs

test(e2e): add tests for `login-error.php` (#5777)
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/specs/security.spec.ts
Due: npm run lint-e2e

Add tests for main Tracks class
  tests/telemetry/Tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Change directory name to lower case
  telemetry/tracks/class-tracks-client.php
  telemetry/tracks/class-tracks-event.php
  telemetry/tracks/class-tracks.php
  tests/telemetry/tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Attempt to resync directory names step 1
  telemetry-tmp/class-telemetry-system.php
  telemetry-tmp/tracks/class-tracks-client.php
  telemetry-tmp/tracks/class-tracks-event.php
  telemetry-tmp/tracks/class-tracks.php
  telemetry/tracks/class-tracks-client.php
  telemetry/tracks/class-tracks-event.php
  telemetry/tracks/class-tracks.php
  tests/telemetry-tmp/tracks/test-class-tracks.php
  tests/telemetry/tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Step 2 of resyncng the directories
  telemetry/telemetry-tmp/class-telemetry-system.php
  telemetry/telemetry-tmp/tracks/class-tracks-client.php
  telemetry/telemetry-tmp/tracks/class-tracks-event.php
  telemetry/telemetry-tmp/tracks/class-tracks.php
  tests/telemetry/telemetry-tmp/tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Fix previous resync commit
  telemetry/class-telemetry-system.php
  telemetry/tracks/class-tracks-client.php
  telemetry/tracks/class-tracks-event.php
  telemetry/tracks/class-tracks.php
  tests/telemetry/tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Remove parsely filter
  telemetry/class-telemetry-system.php
  telemetry/tracks/class-tracks-event.php
Due: phplint, vendor/bin/phpcs

Remove reference to parsely
  telemetry/tracks/class-tracks-event.php
Due: phplint, vendor/bin/phpcs

Add more event details
  telemetry/tracks/class-tracks-event.php
Due: phplint, vendor/bin/phpcs

Allow plugins to set event name prefix
  telemetry/tracks/class-tracks-event.php
  telemetry/tracks/class-tracks.php
Due: phplint, vendor/bin/phpcs

Update test
  tests/telemetry/tracks/test-class-tracks.php
Due: phplint, vendor/bin/phpcs

Update block data API to 1.3
  integrations/block-data-api.php
Due: phplint, vendor/bin/phpcs

Update block data API to 1.3 (#5780)
  integrations/block-data-api.php
Due: phplint, vendor/bin/phpcs

WP-admin Support Contact Form: Fix being able to send to ZD from outside mapped domain
  vip-dashboard/vip-dashboard.php
Due: phplint, vendor/bin/phpcs

WP-admin Support Contact Form: Fix being able to send to ZD from outside mapped domain (#5794)
  vip-dashboard/vip-dashboard.php
Due: phplint, vendor/bin/phpcs

ACL: Default to restricting all on non-prod if ACL is enabled but no options are set
  files/acl/acl.php
Due: phplint, vendor/bin/phpcs

Change get_option_as_bool to get_option_as_bool_if_exists
  files/acl/acl.php
Due: phplint, vendor/bin/phpcs

Fix tests
  tests/files/acl/test-acl.php
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
