Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

Update jetpack_is_mobile() to account for X-Mobile-Class header (#3499)
  lib/feature/class-feature.php
  tests/test-vip-jetpack.php
  vip-jetpack/vip-jetpack.php
Due: phplint, vendor/bin/phpcs

Add Jetpack loading fallback (#3503)
  jetpack.php
Due: phplint, vendor/bin/phpcs

Make Automattic\VIP\Files Constant_Mocker friendly
  files/class-wp-filesystem-vip.php
  tests/mock-constants.php
Due: phplint, vendor/bin/phpcs

Add moar tests to WP_Filesystem_VIP_Test
  tests/files/test-wp-filesystem-vip.php
Due: phplint, vendor/bin/phpcs

Tests: Add more testing to WP_Filesystem_VIP_Test (#3517)
  files/class-wp-filesystem-vip.php
  tests/files/test-wp-filesystem-vip.php
  tests/mock-constants.php
Due: phplint, vendor/bin/phpcs

Vary Cache: Add Vary_Cache_Base implementation a
  cache/class-vary-cache-base.php
  cache/class-vary-cache.php
Due: phplint, vendor/bin/phpcs

CI: Remove dotfiles, XML, bin and tests folder for built repo
  .github/workflows/deploy.yml
Due: none

CI: Remove dotfiles, XML, bin and tests folder for built repo (#3521)
  .github/workflows/deploy.yml
Due: none

Misc: Move priority up for _vip_filter_rest_url_for_ssl()
  misc.php
Due: phplint, vendor/bin/phpcs

Misc: Move priority up for _vip_filter_rest_url_for_ssl() (#3522)
  misc.php
Due: phplint, vendor/bin/phpcs

Update dependency-review.yml
  .github/workflows/dependency-review.yml
Due: none

Update e2e.yml
  .github/workflows/e2e.yml
Due: none

Update tag-release.yml
  .github/workflows/tag-release.yml
Due: none

Clean up mocked constants in test-class-healthjob.php
  tests/search/includes/classes/test-class-healthjob.php
Due: phplint, vendor/bin/phpcs

Show where the constant was defined previously
  tests/mock-constants.php
Due: phplint, vendor/bin/phpcs

Clean up mocked constants in test-class-healthjob.php (#3524)
  tests/search/includes/classes/test-class-healthjob.php
Due: phplint, vendor/bin/phpcs

Show where the constant was defined previously (#3523)
  tests/mock-constants.php
Due: phplint, vendor/bin/phpcs

Remove preact-habitat
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
  search/search-dev-tools/src/index.js
Due: none

Drop WP 5.5 checks in VIP Mailer
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Revert "Move the object-cache files from stacks to mu-plugins (#3491)"
  .dockerignore
  drop-ins/object-cache.php
  drop-ins/object-cache/object-cache-next.php
  drop-ins/object-cache/object-cache-stable.php
Due: phplint, vendor/bin/phpcs

Delete .dockerignore
  .dockerignore
Due: none

Remove preact-habitat (#3525)
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
  search/search-dev-tools/src/index.js
Due: none

Use deterministic test order for coverage generation
  .github/actions/run-wp-tests/action.yml
Due: none

Use deterministic test order for coverage generation (#3529)
  .github/actions/run-wp-tests/action.yml
Due: none

GH-1066: do not override SMTP server if it has already been set
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

GH-1066: do not override SMTP server if it has already been set (#3526)
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Update e2e eslintrc for breaking changes in @automattic/eslint-plugin-wpvip
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/lib/global-setup.ts
Due: npm run lint-e2e

Update e2e eslintrc for breaking changes in (#3537)
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/lib/global-setup.ts
Due: npm run lint-e2e

Update .eslintrc to changes in v0.3.0
  search/search-dev-tools/.eslintrc.json
Due: none

Lint fixes
  search/search-dev-tools/src/components/collapsible-list/index.js
  search/search-dev-tools/src/components/query/index.js
Due: none

Remove overrides
  search/search-dev-tools/.eslintrc.json
  search/search-dev-tools/src/components/app.js
  search/search-dev-tools/src/components/collapsible-list/index.js
  search/search-dev-tools/src/components/information-pane/index.js
  search/search-dev-tools/src/components/overlay/index.js
  search/search-dev-tools/src/components/query/index.js
Due: none

Search: Change default search character length limit to 140
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Fix linting
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Search: Change default search character length limit to 80 (#3531)
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Search: Add logging when content validation cron is kicked off
  search/includes/classes/class-healthjob.php
Due: phplint, vendor/bin/phpcs

Search: Add logging when content validation cron is kicked off (#3530)
  search/includes/classes/class-healthjob.php
Due: phplint, vendor/bin/phpcs
