Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

Roll out filter pre_jetpack_is_mobile to 50% of production sites, which accounts for X-Mobile-Class header in jetpack_is_mobile() (#3579)
  jetpack.php
  lib/feature/class-feature.php
Due: phplint, vendor/bin/phpcs

Values will not be collected while plugin is being activated
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

test coverage for new code
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

fixing tests
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

removed test that tested defaults because the test always gets ran after the parsely options have been set
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

added back in the test for defaults, which conditionally only tests for actual defaults in "disabled" mode
  tests/parsely/test-mu-parsely-integration.php
Due: phplint, vendor/bin/phpcs

Debug Bar: Fix fatal "Cannot declare class Debug_Bar, because the name is already in use"
  debug-bar.php
Due: phplint, vendor/bin/phpcs

Debug Bar: Fix fatal "Cannot declare class Debug_Bar, because the name is already in use" (#3581)
  debug-bar.php
Due: phplint, vendor/bin/phpcs

Update E2E tests
  __tests__/e2e/specs/searchdevtools.spec.ts
Due: npm run lint-e2e

Update E2E tests (#3587)
  __tests__/e2e/specs/searchdevtools.spec.ts
Due: npm run lint-e2e

AI-16: Add ability to shutdown site when overdue (#3431)
  000-vip-init.php
  errors/site-shutdown.html
  lib/utils/class-context.php
  tests/lib/utils/context.php
Due: phplint, vendor/bin/phpcs

CI: Remove unused mark-production-changelog.js and related files
  bin/mark-production-changelog.js
  bin/package-lock.json
  bin/package.json
Due: none

CI: Remove unused mark-production-changelog.js and related files (#3594)
  bin/mark-production-changelog.js
  bin/package-lock.json
  bin/package.json
Due: none

fixed comment
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

Roll out filter pre_jetpack_is_mobile to 75% of production sites, which accounts for X-Mobile-Class header in jetpack_is_mobile()
  lib/feature/class-feature.php
Due: phplint, vendor/bin/phpcs

Roll out filter pre_jetpack_is_mobile to 75% of production sites, which accounts for X-Mobile-Class header in jetpack_is_mobile() (#3600)
  lib/feature/class-feature.php
Due: phplint, vendor/bin/phpcs

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Jetpack: Update 11.3-beta2 to 11.3-beta3 (#3604)
  jetpack-11.3/composer.json
  jetpack-11.3/jetpack.php
  jetpack-11.3/jetpack_vendor/automattic/jetpack-connection/CHANGELOG.md
  jetpack-11.3/jetpack_vendor/automattic/jetpack-connection/legacy/class-jetpack-options.php
  jetpack-11.3/jetpack_vendor/automattic/jetpack-connection/src/class-package-version.php
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/CHANGELOG.md
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/build/index.asset.php
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/build/index.css
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/build/index.js
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/build/index.rtl.css
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/src/class-initializer.php
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/src/class-products.php
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/src/products/class-hybrid-product.php
  jetpack-11.3/jetpack_vendor/automattic/jetpack-my-jetpack/src/products/class-videopress.php
  jetpack-11.3/jetpack_vendor/automattic/jetpack-publicize/CHANGELOG.md
  jetpack-11.3/jetpack_vendor/automattic/jetpack-publicize/src/class-connections-post-field.php
  jetpack-11.3/jetpack_vendor/i18n-map.php
  jetpack-11.3/vendor/composer/installed.json
  jetpack-11.3/vendor/composer/installed.php
  jetpack-11.3/vendor/composer/jetpack_autoload_classmap.php
Due: phplint, vendor/bin/phpcs

Fix several code smells found by SonarCloud
  000-vip-init.php
  tests/bootstrap.php
  tests/test-cache-ttl-manager-rest.php
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

Fix several code smells found by SonarCloud (#3606)
  000-vip-init.php
  tests/bootstrap.php
  tests/test-cache-ttl-manager-rest.php
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

Do not return from a void function
  tests/mock-constants.php
Due: phplint, vendor/bin/phpcs

Do not return from a void function (#3605)
  tests/mock-constants.php
Due: phplint, vendor/bin/phpcs

Fix @covers annotations
  tests/files/test-image-sizes.php
Due: phplint, vendor/bin/phpcs

Fix action.yml
  .github/actions/run-wp-tests/action.yml
Due: none

Try another approach
  .github/actions/run-wp-tests/action.yml
  phpunit.xml
  z-client-mu-plugins.php
Due: phplint, vendor/bin/phpcs

Revert
  .github/actions/run-wp-tests/action.yml
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
