Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

Remove root cron-control submodule
  .gitmodules
Due: none

Remove cron control legacy
  .dockerignore
  .gitmodules
  phpcs.xml.dist
Due: none

Use new cron-control location
  001-cron.php
Due: phplint, vendor/bin/phpcs

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

Update filter name for Two Factor 7.0+
  wpcom-vip-two-factor/sms-provider.php
Due: phplint, vendor/bin/phpcs

Update filter name for Two Factor 7.0+ (#5238)
  wpcom-vip-two-factor/sms-provider.php
Due: phplint, vendor/bin/phpcs

Use new cron-control location (#5235)
  001-cron.php
Due: phplint, vendor/bin/phpcs

Skip retrying mail failures if failure is from donotreply@wpvip.com to avoid infinite loop
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Skip retrying mail failures if failure is from donotreply@wpvip.com to avoid infinite loop (#5245)
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Deprecate wpcom_vip_get_page_by_path() (#5224)
  vip-helpers/vip-caching.php
  vip-helpers/vip-deprecated.php
Due: phplint, vendor/bin/phpcs

Removed detailed API dead link from documentation
  cache/README.md
Due: none

Removed detailed API dead link from documentation (#5259)
  cache/README.md
Due: none

Make Jetpack 13.1 default
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

Make Jetpack 13.1 default (#5263)
  jetpack.php
  tests/test-jetpack.php
Due: phplint, vendor/bin/phpcs

fix: pass `token` to `codecov/codecov-action`
  .github/actions/run-wp-tests/action.yml
Due: none

ci: update workflows
  .github/actions/run-wp-tests/action.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-develop.yml
Due: none

test: do not use assertions in hooks
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
Due: npm run lint-e2e

Use a relative WPMU_PLUGIN_DIR config for VIP mu-plugins
  000-vip-init.php
  001-core/privacy.php
  cache/README.md
  integrations/block-data-api.php
  integrations/vip-governance.php
  jetpack.php
  lib/sunrise/sunrise.php
  qm-plugins/qm-vip/class-qm-collector-vip.php
  query-monitor/classes/Util.php
  two-factor.php
  vaultpress/cron-tasks.php
  vip-helpers/vip-utils.php
  vip-jetpack/jetpack-mandatory.php
  wpcom-vip-two-factor/sms-provider.php
Due: phplint, vendor/bin/phpcs

Disable re-write to `donotreply` if it's a non-prod site
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Add tests
  tests/test-vip-mail.php
Due: phplint, vendor/bin/phpcs

Move environment checking to the hook itself so that the module is testable
  tests/test-vip-mail.php
  vip-mail.php
Due: phplint, vendor/bin/phpcs

Better comments!
  tests/test-vip-mail.php
Due: phplint, vendor/bin/phpcs

Apply suggestions from code review
  cache/examples/segmentation-beta/beta.php
  lib/sunrise/sunrise.php
  query-monitor/classes/Util.php
  vaultpress/cron-tasks.php
Due: phplint, vendor/bin/phpcs

Instead of adding user to superadmins option, filter
  vip-support/class-vip-support-cli.php
  vip-support/class-vip-support-role.php
Due: phplint, vendor/bin/phpcs

Prevent undefined array index errors
  vip-support/class-vip-support-user.php
Due: phplint, vendor/bin/phpcs

Tests
  tests/vip-support/test-user-proxied.php
  tests/vip-support/test-user.php
Due: phplint, vendor/bin/phpcs

Drop strict type
  vip-support/class-vip-support-role.php
Due: phplint, vendor/bin/phpcs

Improve VIPSupportUserProxiedTest
  tests/vip-support/test-user-proxied.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

cleanup
  tests/vip-support/test-user-proxied.php
  vip-helpers/vip-utils.php
Due: phplint, vendor/bin/phpcs

More cleanup
  tests/vip-support/test-user-proxied.php
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  npm run lint-e2e: any of: __tests__/e2e/**/*.{js,ts}
