Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/*": "lint-e2e"
}

had to use breaks for spacing and fix linting
  .lintstagedrc
  __tests__/e2e/README.md
  package.json
Due: lint-e2e

Clean up files
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
Due: none

more cleanup
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
Due: none

Search: Add logging for more details on 401 response codes (#2719)
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

add wait
  __tests__/e2e/lib/global-setup.ts
Due: none

Address code review issues
  search/includes/classes/class-concurrency-limiter.php
  search/includes/classes/class-search.php
  search/includes/classes/concurrency-limiter/class-apcu-backend.php
  search/includes/classes/concurrency-limiter/class-object-cache-backend.php
  tests/search/includes/classes/test-concurrency-limiter.php
Due: phplint, vendor/bin/phpcs

Fix tests
  tests/search/includes/classes/test-concurrency-limiter.php
Due: phplint, vendor/bin/phpcs

Update caching TTL to 45 minutes
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Fix tests
  search/includes/classes/class-concurrency-limiter.php
  tests/search/includes/classes/test-concurrency-limiter.php
Due: phplint, vendor/bin/phpcs

Search: Do not alert as an error if content validation is already ongoing
  search/includes/classes/class-healthjob.php
Due: phplint, vendor/bin/phpcs

Search: Do not alert as an error if content validation is already ongoing (#2725)
  search/includes/classes/class-healthjob.php
Due: phplint, vendor/bin/phpcs

Search: Alert if we don't have a queue count value cached OR if the queue count isn't decreasing (#2720)
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Search: remove autohealing alert
  search/includes/classes/class-healthjob.php
Due: phplint, vendor/bin/phpcs

Search: remove autohealing alert (#2726)
  search/includes/classes/class-healthjob.php
Due: phplint, vendor/bin/phpcs

changed the hook function to just add the --skip-delete flag instead of erroring out.
  wp-cli/media-regenerate.php
Due: phplint, vendor/bin/phpcs

added unnecessary line ends
  wp-cli/media-regenerate.php
Due: phplint, vendor/bin/phpcs

Squashed 'wp-parsely-3.0/' changes from 26cfdf1af..a525cadde
  CHANGELOG.md
  README.md
  src/class-parsely.php
  tests/Integration/OtherTest.php
  wp-parsely.php
Due: phplint, vendor/bin/phpcs

testingOutputs
  .github/workflows/release-changelog.yml
  bin/create-next-release-tag.sh
  bin/create-release.sh
Due: none

adds a comment
  bin/create-next-release-tag.sh
  bin/create-release.sh
  bin/mark-production-changelog.js
Due: none

e2e tests: Initial framework, tests, and CI integration (#2682)
  .github/workflows/e2e.yml
  .gitignore
  .lintstagedrc
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/README.md
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/data-helper.ts
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/playwright.config.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
  package-lock.json
  package.json
  phpcs.xml.dist
Due: lint-e2e

moved re-running message to inside the conditional
  wp-cli/media-regenerate.php
Due: phplint, vendor/bin/phpcs

Allow specifying WP version for manual runs.
  .github/workflows/e2e.yml
Due: none

removed .DS_Store file that was added 2 years ago
  search/es-wp-query/tests/.DS_Store
Due: none

added global ignore of .DS_Store in .gitignore
  .gitignore
Due: none

Allow specifying WP version for manual runs. (#2729)
  .github/workflows/e2e.yml
Due: none

Search: rework the queue command, remove the stress-queue subcommand and introduce purge subcommand
  search/includes/classes/commands/class-queuecommand.php
Due: phplint, vendor/bin/phpcs

Explicitly call out an error in deletion with a mention of the table name for ease of debug
  search/includes/classes/commands/class-queuecommand.php
Due: phplint, vendor/bin/phpcs

Remove the rest of the cruft from the command
  search/includes/classes/commands/class-queuecommand.php
Due: phplint, vendor/bin/phpcs

Search: rework the queue command, remove the stress-queue subcommand and introduce purge subcommand (#2731)
  search/includes/classes/commands/class-queuecommand.php
Due: phplint, vendor/bin/phpcs

FORNO-921: Adding unit test
  tests/config/test-site-details-index.php
Due: phplint, vendor/bin/phpcs

FORNO-921: Fixing lint
  tests/config/test-site-details-index.php
Due: phplint, vendor/bin/phpcs

FORNO-921: Fixing unit test
  tests/config/test-site-details-index.php
Due: phplint, vendor/bin/phpcs

Replace $_ENV with getenv()
  000-vip-init.php
Due: phplint, vendor/bin/phpcs

Update dependency lint-staged to v12.1.3
  package-lock.json
  package.json
Due: none

Update actions/setup-node action to v2.5.0
  .github/workflows/release-changelog.yml
Due: none

test
  .github/workflows/release-changelog.yml
Due: none

Use release creator
  .github/workflows/release-changelog.yml
  bin/create-release.sh
Due: none

Update .github/workflows/release-changelog.yml
  .github/workflows/release-changelog.yml
Due: none

Filters plugin URLs to use sandboxed hostnames.
  vip-helpers/sandbox.php
Due: phplint, vendor/bin/phpcs

Implement concurrency limit for ES (#2703)
  bin/test.sh
  search/includes/classes/class-concurrency-limiter.php
  search/includes/classes/class-search.php
  search/includes/classes/concurrency-limiter/backendinterface.php
  search/includes/classes/concurrency-limiter/class-apcu-backend.php
  search/includes/classes/concurrency-limiter/class-object-cache-backend.php
  search/includes/classes/concurrency-limiter/class-semaphore-backend.php
  tests/search/includes/classes/test-concurrency-limiter.php
Due: phplint, vendor/bin/phpcs
