Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, npm run lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/**/*.{js,ts}": [
        "npm run lint-e2e"
    ]
}

Wp-admin: Display nags only for super admins
  admin-notice/admin-notice.php
Due: phplint, vendor/bin/phpcs

Wp-admin: Display nags only for super admins (#3689)
  admin-notice/admin-notice.php
Due: phplint, vendor/bin/phpcs

Debug Bar: Enable for local VIP dev environments and require debug-bar outside of set_current_user
  debug-bar.php
Due: phplint, vendor/bin/phpcs

Debug Bar: Enable for local VIP dev environments and require debug-bar outside of set_current_user (#3688)
  debug-bar.php
Due: phplint, vendor/bin/phpcs

Search: Do not use filter__ep_enable_do_weighting if Custom Search Results in use
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Search: Do not use filter__ep_enable_do_weighting if Custom Search Results in use (#3690)
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Revert "Search: Do not use filter__ep_enable_do_weighting if Custom Search Results in use (#3690)"
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Revert "Search: Do not use filter__ep_enable_do_weighting if Custom Search Results in use (#3690)" (#3694)
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

VIP Support: Fix PHP warning of undefined $user
  vip-support/class-vip-support-user.php
Due: phplint, vendor/bin/phpcs

Get missing $user object for each case
  vip-support/class-vip-support-user.php
Due: phplint, vendor/bin/phpcs

VIP Support: Fix PHP warning of undefined $user (#3695)
  vip-support/class-vip-support-user.php
Due: phplint, vendor/bin/phpcs

Adjust timeout
  __tests__/e2e/lib/pages/wp-editor-page.ts
Due: npm run lint-e2e

Reduce the number of workers
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

Configure Classic Editor
  __tests__/e2e/bin/setup-env.sh
Due: none

Fix tests
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/playwright-helpers.ts
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

Adjust timeout
  __tests__/e2e/playwright.config.ts
Due: npm run lint-e2e

Regenerate the bundle
  search/search-dev-tools/build/bundle.js
Due: none

Update search dev tools
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Due: none

Bump down the version to 10.7 as 10.9 is not actually loadable on 5.8
  jetpack.php
Due: phplint, vendor/bin/phpcs

Update search dev tools (#3706)
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Due: none

Update Playwright to 1.26.1
  package-lock.json
  package.json
Due: none

Update Playwright to 1.26.1 (#3705)
  package-lock.json
  package.json
Due: none

Get rid of unnecessary awaits
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
Due: npm run lint-e2e

Get rid of unnecessary awaits (#3704)
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
Due: npm run lint-e2e

Update wp-parsely 3.5 branch to 3.5.2
  wp-parsely-3.5/README.md
  wp-parsely-3.5/build/content-helper.asset.php
  wp-parsely-3.5/build/content-helper.js
  wp-parsely-3.5/src/Endpoints/class-base-api-proxy.php
  wp-parsely-3.5/src/Integrations/class-amp.php
  wp-parsely-3.5/src/Integrations/class-facebook-instant-articles.php
  wp-parsely-3.5/src/Integrations/class-google-web-stories.php
  wp-parsely-3.5/src/Integrations/class-integration.php
  wp-parsely-3.5/src/Integrations/class-integrations.php
  wp-parsely-3.5/src/UI/class-recommended-widget.php
  wp-parsely-3.5/src/blocks/content-helper/components/post-list.tsx
  wp-parsely-3.5/src/blocks/content-helper/content-helper-provider.ts
  wp-parsely-3.5/wp-parsely.php
Due: phplint, vendor/bin/phpcs

Update wp-parsely 3.5 branch to 3.5.2 (#3710)
  wp-parsely-3.5/README.md
  wp-parsely-3.5/build/content-helper.asset.php
  wp-parsely-3.5/build/content-helper.js
  wp-parsely-3.5/src/Endpoints/class-base-api-proxy.php
  wp-parsely-3.5/src/Integrations/class-amp.php
  wp-parsely-3.5/src/Integrations/class-facebook-instant-articles.php
  wp-parsely-3.5/src/Integrations/class-google-web-stories.php
  wp-parsely-3.5/src/Integrations/class-integration.php
  wp-parsely-3.5/src/Integrations/class-integrations.php
  wp-parsely-3.5/src/UI/class-recommended-widget.php
  wp-parsely-3.5/src/blocks/content-helper/components/post-list.tsx
  wp-parsely-3.5/src/blocks/content-helper/content-helper-provider.ts
  wp-parsely-3.5/wp-parsely.php
Due: phplint, vendor/bin/phpcs

Update typescript to 4.8.4
  package-lock.json
Due: none

Update typescript to 4.8.4 (#3709)
  package-lock.json
Due: none

Search: Cache existence of Custom Search Results and return early in filter__ep_enable_do_weighting for existence of CSR
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Add tests
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Search: Remove system operation indexes from being returned in get-indexes and fix get-mapping command for multisites
  search/includes/classes/commands/class-corecommand.php
Due: phplint, vendor/bin/phpcs

Expand function parameters according to WP Core
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

Remove extra space
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

Add PHPDoc
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

Update vip-helpers/vip-caching.php
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

Add additional test to account for option
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Due: phplint, vendor/bin/phpcs

Expand function parameters according to WP Core (#3684)
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs

Fix linting
  vip-helpers/vip-caching.php
Due: phplint, vendor/bin/phpcs
