Repository Automattic/vip-go-mu-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, lint-e2e

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "__tests__/e2e/*": "lint-e2e"
}

Switch to @automattic/eslint-plugin-wpvip
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/data-helper.ts
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/playwright-helpers.ts
  __tests__/e2e/lib/wp-api-helper.ts
  package-lock.json
  package.json
Due: lint-e2e

Remove active-index-not-found-in-versions-list check and error since no-active-index-found will fire first
  search/includes/classes/class-versioning.php
Due: phplint, vendor/bin/phpcs

Check if Jetpack is loaded before trying to fetch the details
  rest-api/vip-endpoints.php
Due: phplint, vendor/bin/phpcs

Fix failing tests
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-versioning.php
Due: phplint, vendor/bin/phpcs

Fix bug where type isn't being shown in WP_CLI::Error for activating
  search/includes/classes/commands/class-versioncommand.php
Due: phplint, vendor/bin/phpcs

Add tests
  tests/search/includes/classes/test-class-versioning.php
Due: phplint, vendor/bin/phpcs

phpcs fixes
  qm-plugins/qm-object-cache/class-qm-collector-object-cache.php
  qm-plugins/qm-object-cache/class-qm-output-object-cache.php
  qm-plugins/qm-object-cache/css/style.css
  qm-plugins/qm-object-cache/qm-object-cache.php
  qm-plugins/qm-object-cache/readme.md
  qm-plugins/qm-object-cache/screenshot-1.png
  query-monitor.php
Due: phplint, vendor/bin/phpcs

Address CR comments
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
Due: none

Fix strict mode violations
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
Due: none

Apply suggestions from code review
  qm-plugins/qm-object-cache/class-qm-output-object-cache.php
  qm-plugins/qm-object-cache/qm-object-cache.php
Due: phplint, vendor/bin/phpcs

Revert "Remove `renovate.json` (#3060)"
  renovate.json
Due: none

Remove dependabot.yml
  .github/dependabot.yml
Due: none

Update renovate.json
  renovate.json
Due: none

Update eslint-config-wpvip digest to b73cd84
  package.json
Due: none

Update actions/checkout action to v3.0.2
  .github/workflows/e2e.yml
  .github/workflows/nightly.yml
  .github/workflows/parsely.yml
  .github/workflows/release-changelog.yml
Due: none

GH-2667: fix 'Implicit conversion from float to int loses precision'
  tests/config/test-site-details-index.php
Due: phplint, vendor/bin/phpcs

Update actions/checkout digest to 2541b12
  .github/workflows/dependency-review.yml
Due: none

Update Node.js to v16.15.0
  .circleci/config.yml
Due: none

Updating Parse.ly 3.3.2
  wp-parsely-3.3/README.md
  wp-parsely-3.3/src/UI/class-metadata-renderer.php
  wp-parsely-3.3/wp-parsely.php
Due: phplint, vendor/bin/phpcs

Try not to ignore platform requirements
  renovate.json
Due: none

Lock file maintenance
  bin/package-lock.json
  composer.lock
  package-lock.json
  search/search-dev-tools/package-lock.json
Due: none

Fix missing dependencies
  package-lock.json
  package.json
  search/search-dev-tools/package-lock.json
Due: none

Update renovate.conf
  renovate.json
Due: none

Update actions/setup-node action to v3.2.0
  .github/workflows/e2e.yml
  .github/workflows/release-changelog.yml
Due: none

Hotfix: Fix namespacing issue in Publicize
  jetpack-10.9/jetpack_vendor/automattic/jetpack-publicize/src/class-publicize.php
Due: phplint, vendor/bin/phpcs

Update all non-major devDependencies to v1.22.1
  package-lock.json
  package.json
Due: none

Update github/codeql-action action to v2.1.11
  .github/workflows/codeql-analysis.yml
Due: none

Hotfix: Fix namespacing issue in Publicize (#3164)
  jetpack-10.9/jetpack_vendor/automattic/jetpack-publicize/src/class-publicize.php
Due: phplint, vendor/bin/phpcs

Only allow access to the query subcommand with a query present
  lib/helpers/wp-cli-db/class-wp-cli-db.php
  tests/lib/helpers/test-wp-cli-db.php
Due: phplint, vendor/bin/phpcs

Add PHP 8 migration notice on non-prods
  admin-notice/admin-notice.php
Due: phplint, vendor/bin/phpcs

Add missing period
  admin-notice/admin-notice.php
Due: phplint, vendor/bin/phpcs

Add restrictions for wpcomvp user
  000-vip-init.php
  vip-helpers/class-wpcomvip-restrictions.php
Due: phplint, vendor/bin/phpcs

Add namespace
  000-vip-init.php
  vip-helpers/class-wpcomvip-restrictions.php
Due: phplint, vendor/bin/phpcs

Add tests
  tests/vip-helpers/test-wpcomvip-restrictions.php
  vip-helpers/class-wpcomvip-restrictions.php
Due: phplint, vendor/bin/phpcs

Ensure the current user is not wpcomvip
  tests/vip-helpers/test-wpcomvip-restrictions.php
  vip-helpers/class-wpcomvip-restrictions.php
Due: phplint, vendor/bin/phpcs

Try to fix tests
  tests/vip-helpers/test-wpcomvip-restrictions.php
Due: phplint, vendor/bin/phpcs

Remove env checks -- rely on WP_CLI presence
  lib/helpers/wp-cli-db/class-wp-cli-db.php
Due: phplint, vendor/bin/phpcs

Skip remote_request_disabled errors from logs, they're noisy and don't actually tell us there's an issue with backend
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs

Kill extra whitespace
  search/includes/classes/class-search.php
Due: phplint, vendor/bin/phpcs
